[2014-08-21 13:16] Wildhoney opened #1 "Generalise hull module for concavity as well as convexity"

[2014-08-21 15:19] #1 closed, assigned to Wildhoney

[2014-08-21 21:22] Wildhoney opened #2 "Convert to Leaflet module"

[2014-08-24 21:10] Wildhoney opened #3 "Add mobile support"

[2014-08-24 21:10] #2 closed, assigned to Wildhoney

[2014-08-26 09:26] Wildhoney opened #4 "Error when not passing through `options`"

[2014-08-26 09:27] Wildhoney opened #5 "`createExitMode` can set the mode to zero"

[2014-08-26 09:28] Wildhoney opened #6 "Add `mode` listener"

[2014-08-26 09:46] Wildhoney opened #7 "Add unsetMode whilst adhering to bug #5"
#5 should also include `unsetMode` implementation.

[2014-08-26 10:22] #5 closed, assigned to Wildhoney

[2014-08-26 10:22] #6 closed, assigned to Wildhoney

[2014-08-26 10:22] #7 closed, assigned to Wildhoney

[2014-08-26 10:22] #4 closed, assigned to Wildhoney

[2014-08-26 10:44] Wildhoney opened #8 "Update README for new events and unsetMode"

[2014-08-26 19:39] #8 closed, assigned to Wildhoney

[2014-08-26 21:28] Wildhoney opened #9 "Append D3 layer to module container"

[2014-08-27 09:33] Wildhoney opened #10 "Add `cancelPolygon` to cancel current polygon creation"

[2014-08-27 23:19] #10 closed, assigned to Wildhoney

[2014-08-27 23:20] #9 closed, assigned to Wildhoney

[2014-08-28 09:47] jieter opened #11 "Scrollwheel zooming"
Zooming by scrolling does not work...

[2014-08-28 09:51] #11 closed, assigned to nobody

[2014-08-28 11:07] Wildhoney opened #12 "Set recommended options"

[2014-08-28 15:16] Wildhoney opened #13 "Consider normalising polygons post edit"

[2014-08-29 11:43] Wildhoney opened #14 "Non-existent polygon"
Reproduce:
- Draw small polygon in fully-zoomed mode;
- Zoom out and draw another polygon &ndash; an error is thrown.

Solution is to apply delete events when zooming to ensure small polygons invisible at a certain zoom level are always deletable.

[2014-08-29 11:45] Wildhoney opened #15 "Associated lat/longs change as you zoom"
We need consistent lat/longs that are saved when the user creates and edits, but that don't change as the user zooms when the polygon is optimised for the current zoom level.

[2014-08-29 21:34] #14 closed, assigned to Wildhoney

[2014-08-29 23:10] #15 closed, assigned to Wildhoney

[2014-08-29 23:33] Wildhoney opened #16 "Update README for refineLatLngs functionality and nonPolygons concept"

[2014-08-30 23:38] #16 closed, assigned to Wildhoney

[2014-09-02 15:57] Wildhoney opened #17 "Should the refinement behaviour be removed?"

[2014-09-03 11:35] Wildhoney opened #18 "Allow for elbows to be added"

[2014-09-03 11:35] #17 closed, assigned to Wildhoney

[2014-09-03 11:35] Wildhoney opened #19 "Remove lat/long refinement"

[2014-09-03 16:03] #19 closed, assigned to Wildhoney

[2014-09-03 16:04] #13 closed, assigned to Wildhoney

[2014-09-03 16:04] #18 closed, assigned to Wildhoney

[2014-09-03 16:08] #12 closed, assigned to Wildhoney

[2014-09-03 16:48] Wildhoney opened #20 "Detect when click is close to polygon boundary"

[2014-09-03 21:59] Wildhoney opened #21 "Add documentation on elbow creation"

[2014-09-04 07:35] Wildhoney opened #22 "Should there be an option to maintain polygon elbows?"

[2014-09-04 09:45] #21 closed, assigned to Wildhoney

[2014-09-04 14:15] Wildhoney opened #23 "Detect polygons that are removed cause their areas are too small"

[2014-09-04 14:16] #20 closed, assigned to Wildhoney

[2014-09-09 09:09] #23 closed, assigned to Wildhoney

[2014-10-06 18:41] hotmeteor opened #24 "Ability to enable/disable tool"
It would be nice to be able to enable or disable the entire FreeDraw plugin. Using it in tandem with something like Leaflet Draw isn't possible, as it seems FreeDraw takes over all the events on the map for mousedown/mouseup, etc. I could be wrong, however.

[2014-10-07 16:01] hotmeteor opened #26 "Programmatically set a polygon"
Is there a way to programmatically set a polygon on page load? I've tried the following, to no avail:

[code]

[2014-10-07 16:04] #26 closed, assigned to nobody

[2014-10-09 15:59] ventralnet opened #27 "clearPolygons method will always notify boundaries even if called with this.silenced===true"
It looks like there is a slight bug.  When the clearPolygons method is called it first calls this.silently(this._clearPolygons)

The silently method will set this.silenced to true and then execute the callback, then set this.silenced to false.  This is erroneous if the clearPolygons method was called with silenced set to true.  No matter what after the silently call is made silenced will be false

[2014-10-09 16:47] tomsutton1984 opened #28 "Add 'cut' to enable selective removal of area from polygon [enhancement]"
Enables donut polygons

[2014-10-10 09:49] christianhuening opened #29 "Problem with wrong filename of leaflet.freedraw.min.js"
Hi there,
I encountered an error when using leaflet and leaflet.freedraw via bower. After installing the bower component of Leaflet.freedraw, I got an error that leaflet.freedraw.min.js could not be found. Which is perfectly correct, since the file is named leaflet.freedraw.js (missing the '.MIN.').
When I rename the file inside of the bower_components folder and add the '.min.' everything works a

[2014-10-10 10:19] #22 closed, assigned to Wildhoney

[2014-10-10 11:08] #29 closed, assigned to nobody

[2014-10-10 13:10] DomianParrasek opened #30 "possibility to predefine a polygon"
Hi there,

is there a function like createPolygon(latLngs) with that i can predefine a polygon in the FreeDraw layer
which the user later can edit or delete ?

best regards

[2014-10-15 21:33] ventralnet opened #32 "Non FreeDraw created polygons are effected by FreeDraw calls"
It looks like currently the code will perform its operations on all polygons from all layers on the map.  For example if a user has a geoJson layer that paints some polygons a call to "clearPolygons" will remove the polygons painted on the geoJson layer as well as the FreeDraw polygons.

I have a potential fix for this on a branch.
https://github.com/ventralnet/Leaflet.FreeDraw/tree/private/ventra

[2014-10-17 15:44] Wildhoney opened #34 "Add polygon buffering"
Use [JSClipper support for polygon buffering](http://stackoverflow.com/questions/1109536/an-algorithm-for-inflating-deflating-offsetting-buffering-polygons) to expand and contract a polygon area by a given distance.

[2014-10-21 19:05] ventralnet opened #35 "After clicking marker and closing popup peculiar behavior"
I haven't been able to put my finger on it but there is weird behavior when you click on a marker on the map and then close a popup and try to free draw..

Check the issue out here http://jsfiddle.net/ventralnet/kygbbt66/3/
1. Click the marker
2. Close the popup
3. try to freedraw and it actually drags the map rather than going to create mode

[2014-10-22 10:10] #35 closed, assigned to nobody

[2014-10-22 13:56] #32 closed, assigned to nobody

[2014-12-08 23:22] Jakobud opened #37 "Draw polylines?"
Is it possible to draw polylines instead of polygons? Allowing people to essentially write words and draw pictures on the map?

[2014-12-11 09:26] Thomas-Persson opened #38 "Drawing a polygon in IE11 does not work."
This seems not to be the case in all IE11 minor versions but at least in version 11.0.9600.17351  (update version is 11.0.13 KB2987107). Does not work in my project and does not work on the example app on freedraw.herokuapp.com. I have tried on different computers and get the same result. The problem is in _attachMouseDown, where it tries to bind mousedown and touchstart, this.map.on('mousedown to

[2014-12-15 23:47] chriserickson opened #39 "Exiting a mode re-enables disabled map options"
I have the scrollwheel disabled on a non-fullscreen map.

When Free-draw exits create mode, it re-enables the scroll wheel. This is unexpected and rather annoying.

[2015-01-04 16:55] Wildhoney commented on #39
Any luck with this?

[2015-01-04 16:56] #37 closed

[2015-01-04 16:56] #30 closed

[2015-01-04 17:01] #27 closed

[2015-01-04 17:02] #24 closed

[2015-01-05 19:40] chriserickson commented on #39
Yeah, it appears fixed. Thanks!

----------------
chris erickson
801.613.0450
"No man knows how bad he is till he has tried very hard to be good. "

On Sun, Jan 4, 2015 at 9:55 AM, Adam Timberlake <notifications@github.com>
wrote:

[2015-01-05 19:56] Wildhoney commented on #39
You're welcome! :beers:

[2015-01-05 19:56] #39 closed

[2015-01-06 12:23] tarkmark opened #42 "Multi layer and Intersection Area in Leaflet"
Dear Adam,
Your FreeDraw plugin at "http://freedraw.herokuapp.com/"
is very successful and flexible for drawing poligon. Congratulations for it. Plugin can combine two different poligon if they have intersection area (like union of sets). Is that possible to remove some parts of the poligon by drawing a different poligon with remove module.
Can we define a new layer with different properties. So w

[2015-01-29 21:47] dfliess opened #43 "Add Holes to Polygon"
createPolygon method is not accepting  polygons with a Region and holes. http://leafletjs.com/reference.html#polygon says "You can also create a polygon with holes by passing an array of arrays of latlngs, with the first latlngs array representing the exterior ring while the remaining represent the holes inside."

[2015-02-02 08:38] Wildhoney commented on #43
Unfortunately with the concave hull algorithm the holes are automatically filled in &ndash; to introduce the feature of allowing holes in the polygon, we'd need to have a rethink.

What's your use-case for this?

[2015-02-16 22:44] timjk opened #44 "Canvas support"
FreeDraw doesn't display polygons when leaflet is set to canvas rendering.

Fiddle: http://jsfiddle.net/2u3wt2kc/4/

It seems that leaflet will support both svg and canvas rendering simultaneously in the next release so a fix may not be necessary: https://github.com/Leaflet/Leaflet/issues/3098

[2015-02-26 12:33] calvinxiu opened #45 "How to change the line color when drawing the polygon?"
Hi all, the css in example had demo how to change the color after create the polygon, but how can i change the color when i drawing the polygon? current color is purple, i want to change it to blue.

BTW. Freedraw is the best draw plugin :)

[2015-02-26 12:44] Wildhoney commented on #45
Thanks, Calvin! :beers:

It should be as easy as adding a little bit of CSS:

[code]

Although [I've just added a class name](https://github.com/Wildhoney/Leaflet.FreeDraw/commit/13b782346adb4118aaaeb67f228a62aa97307aaf) to that line to distinguish it from any other potential `path` nodes, so now you can use the above CSS with `drawing-line`:

[code]

Hope this helps! :+1:

[2015-02-26 12:52] calvinxiu commented on #45
you update the code so quickly, cool.

[2015-02-26 12:52] #45 closed

[2015-02-26 13:05] calvin1978 opened #46 "Add callback function to handle the created and edited polygon"
'markers' event only return all markers, but i wish to get the created polygon after drew it.
Now i just modify the _createMouseUp() to add the callback function, can you support it officially?

The edit mode is more difficult when multiple polygon in the map, we need to tell the callback function which polygon had been edited.

[2015-02-26 13:54] Wildhoney commented on #46
What did you change the `_createMouseUp` method to?

This is not something that `FreeDraw` necessarily needs to implement. Assuming you've already solved the problem of which markers to remove for the delta, you could simply store the previous set of lat/lngs and then compute a diff on the new set of lat/lngs &ndash; that will give you the modified polygons.

Using [Lodash](https://lodash.com/), f

[2015-03-02 11:26] immccc opened #47 "Option destroyPreviousPolygon is not working"
Don't know if it is a navigator issue (i'm using JavaFX WebEngine navigator embedded in an app), but option destroyPreviousPolygon is not working. By debugging, i realized that, in function createPolygon(latLngs, forceCreation),:

[code]

this.getPolygons(true).length is always returning 0. Behaviour is the expected one if I replace that by this.polygons.length

[2015-03-02 11:31] Wildhoney commented on #47
It could be your environment &ndash; is it possible for you to try this somehow else?

Also bear in mind that the `destroyPreviousPolygon` method is to be used in conjunction with the `allowMultiplePolygons` method, otherwise it has no effect.

[code]

[2015-03-02 11:37] immccc commented on #47
I set both options and, by debugging, they are indeed true and false, respectively.

Also, I tried to manually remove old polygons after creation, but I realized as well that altering polygon array doesn't guarantee the expected order in the execution time, as it might happen that selected polygons to be deleted are not the ones you want (all of them but the one in polygons.length - 1)

[2015-03-02 11:41] Wildhoney commented on #47
I've just tested it myself in Chrome and it seems perfectly fine. I'm unsure about JavaFX WebEngine navigator, because I've never used that before, and I'm not sure on the consequences of using that.

[2015-03-02 12:13] immccc commented on #47
I did and worked out on Chrome. It is also that can be done by uncommenting the option setting lines in the sample test.

I guess it's a tricky compatibility issue. Oracle says modern web standards are compliant, but there is always something that could be skipped.

http://docs.oracle.com/javafx/2/webview/jfxpub-webview.htm

[2015-03-12 22:39] Wildhoney commented on #44
Thanks @timjk! Agreed that maybe it's a good idea to wait for the next release of Leaflet. Although I'll take a quick look to see if there are any obvious issues.

[2015-03-31 14:09] MarkAPhillips commented on #38
Hi - this will be an issue with touch screen devices that run under Windows 8.x and IE. On non-touch screen devices this should work as expected. I think its the way that Leaflet handles this.
I have seen similar leaflet plugins have issues with this also - but not seen it resolved yet.

if you disable the touch screen on your notebook see http://lifehacker.com/disable-your-laptop-s-touch-screen-i

[2015-03-31 14:14] Wildhoney commented on #38
@MarkAPhillips, Thanks for this! :+1: Is there an active issue on Leaflet for this?

[2015-03-31 14:28] MarkAPhillips commented on #38
Not sure - see this thread on another plugin which has similar issues:

https://github.com/Leaflet/Leaflet.draw/issues/2
I think they are working on a fix for it - but it might give you an insight where they are going with a fix.

also
https://github.com/Leaflet/Leaflet.draw/issues/273

[2015-04-15 17:07] carpiediem commented on #37
Is there any plugin similar to this one that would allow me to drag my mouse along a path an have the plugin programatically figure out the best nodes to use for a good-match polyline?  That's the use case I'm after, drawing paths that look natural without manually placing every node.

[2015-04-15 17:38] Jakobud commented on #37
I've looked for the same thing @carpiediem but found none.

[2015-04-15 22:33] Wildhoney commented on #37
What would you folks use that for?

[2015-04-16 05:48] carpiediem commented on #37
To draw the path someone took across a map (when it doesn't follow roads).

[2015-04-16 06:01] Wildhoney commented on #37
Ah! Well it should be easier than a freehand polygon, so I might give it a try. Although it will be a different module to this. I suppose like this, you could add and remove elbows?

[2015-04-16 06:10] carpiediem commented on #37
Adding/removing elbows would be helpful, but less critical than making the polyline easy to draw in the first place.  Whether its bundled in this plugin or packaged on its own is no matter to me; I'm just not quite skilled enough to make the changes myself.

[2015-04-16 15:51] chriserickson opened #48 "freeDraw.options.setHullAlgorithm(false); throws exception, but is shown in documentation"
The documentation states you can call:
[code]
However, this just throws an exception.

[2015-04-16 15:55] Wildhoney commented on #48
Please try again :+1:

[2015-04-16 17:08] Jakobud commented on #37
Its out of the scope of this plugin.

[2015-04-16 17:38] Wildhoney commented on #37
Agreed. Will be a different module.

[2015-04-17 14:18] chriserickson opened #49 "Provide the ability to run hull algorithm asynchronously"
If you draw something that takes a long time (1-3 seconds) to run the hull algorithm, it appears the browser is hung.

An event firing before and after processing might help, but I think would be insufficient -- I tried just adding these and there is not enough time for the DOM to update and put up a loading mask before hanging on the hull algorithm.

We were able to hack around the issue with the

[2015-04-17 14:22] chriserickson opened #50 "Touch does not work"
I've been unable to figure out how to get freedraw to work on a touch input device, whether iPad or Chrome with the touch device emulator.

No idea what the underlying problem is.

[2015-04-17 14:30] Wildhoney commented on #50
Yep, there's an open issue for this that I haven't got around to yet: https://github.com/Wildhoney/Leaflet.FreeDraw/issues/3

`FreeDraw` doesn't currently have the necessary events setup to allow this. There are certain considerations to be made as well, since any click events won't be as precise as on a desktop.

Happy to hear people's opinions on this though, and then I can begin planning it out

[2015-04-17 14:37] #48 closed

[2015-04-17 14:43] chriserickson commented on #50
Ugh, sorry for the duplicate. I kept searching for 'touch' and was finding nothing....

[2015-04-17 14:43] #50 closed

[2015-04-17 15:48] Wildhoney commented on #50
No problem :+1: Quite a few people have asked for it, so it would be nice to make some headway with it.

[2015-04-17 17:28] Wildhoney commented on #37
I've [made a start](https://github.com/Wildhoney/L.Pather) with the polyline module with an example up on Heroku: [pather.herokuapp.com](http://pather.herokuapp.com/). Although it works, it's still very much work in progress :+1:

[2015-04-17 19:26] Jakobud commented on #37
That is really nice @Wildhoney. I was thinking about doing the same thing sometime. Is it possible to alter the accuracy of the polyline? Essentially change the number of segments created for a curve?

[2015-04-17 21:47] Wildhoney commented on #37
Thanks @Jakobud. Yep, there's the range slider in the top left for the tolerance. Pull requests welcome! I can also make you a contributor.

[2015-04-26 14:39] fplgusmao commented on #49
I'm using FreeDraw in my project, and the algorithm can take ages (and I really mean ages)! I've discovered that the longer you take to draw the shape, the longer it takes to render it...

Note that, in the [heroku example](http://freedraw.herokuapp.com), this problem is not so bad, though you can still notice it (I'm probably adding too much crap to my app, but it doesn't matter much here).

Does

[2015-04-26 17:38] Wildhoney commented on #49
Agreed that it would be nice to make the algorithm asynchronous with a Web Worker, but with the way it's coded it's not an easy task to separate that. I'll certainly take a look and see what can be done :+1:

[2015-04-27 20:22] chriserickson opened #51 "After drawing an invalid polygon (vertical line), scroll zoom no longer works until a valid polygon is created"
I verified on the demo heroku app --

Before you draw anything, mouse scroll wheel zooms in/out
Draw a vertical line which results in no free-draw polygon
Mouse scroll wheel zoom now zooms body
Draw a valid polygon
Mouse scroll wheel zoom  now zooms in/out again

[2015-04-28 07:06] Wildhoney commented on #51
Good spot! Please verify the fix with `v1.1.10` :+1:

[2015-04-28 07:55] jekuno opened #52 "Support conventional polygon click mode"
Currently the polygon can be drawn by holding down the mouse button.
Releasing it closes the polygon.

I would prefer if the tool would start in a conventional _polygon click mode_
which allows to create polygon points (and therefore edges)
by clicking at several points one after another.
As soon as the user holds down the mouse button the _FreeDraw mode_ gets activated.
If he releases the mouse b

[2015-04-28 08:18] Wildhoney commented on #52
Agreed it is a *nice to have* feature, but in creating `Leaflet.FreeDraw`, I didn't want to step on the toes of the [`Leaflet.draw` module](https://github.com/Leaflet/Leaflet.draw). With a combination of `Leaflet.FreeDraw` and `Leaflet.draw` you could definitely achieve something similar by activating/deactivating the layers as necessary :+1:

[2015-04-28 08:39] jekuno commented on #52
Thanks for your fast answer.

I understand your point. I think `FreeDraw` doesn't step on the toes of the `Leaflet.draw` module.
`Leaflet.draw` provides tools which go far beyond polygon creation.
But for people who need FreeDraw functionality `Leaflet.FreeDraw` is the no 1 choice.

As far as I can see your FreeDraw plugin already provides everything to handle
basic "on click polygon creation" (IM

[2015-04-29 16:34] jekuno commented on #42
This is a duplicate of issue #28. Please have a look at that issue for details.

[2015-04-29 21:28] jekuno opened #53 "Multiple FreeDraw instances"
_The problem_: How to setup multiple FreeDraw instances to draw polygons in several colors (having a toolbar with e.g. buttons blue and pink to draw blue or pink FreeDraw polygons)

_The basics_: I know how to configure the according color of the drawing line, polygon stroke and polygon fill if I use only ONE freedraw control (and I know how to connect it to a button).

_Get it working for several

[2015-04-29 21:46] Wildhoney commented on #53
@jekuno an interesting use! Could you setup a JsFiddle using http://jsfiddle.net/jrnt69xn/ please.

[2015-04-30 10:59] jekuno commented on #53
@Wildhoney Thanks for your fast answer. I created a fiddle: http://jsfiddle.net/1smuagqz/2/

Reproduce the problem: Press the upper button on the left to switch to yellow mode. Draw a polygon. Press the other button to switch to pink. Draw a polygon. You see the changing elbow colors as described.

(In the fiddle the fill color also still is the same for all polygons but I solved this already as d

[2015-04-30 11:16] fplgusmao opened #54 "FreeDraw object is automatically reseted"
I'm adding a `freeDraw` layer to a `L.layerGroup` on my map. Users could draw their polygons and stuff, then they move to another step of my app. By advancing, the `L.layerGroup`, containing the `freeDraw` layer, is detached from the map, using the `map.removeLayer()` (I keep the reference to the variable, however).

The problem is when users want to get back to the previous step. I add, again, th

[2015-04-30 11:28] Wildhoney commented on #54
Unfortunately it's a feature of Leaflet. To solve it, the best way is to keep an array of the polygons by listening to the `Leaflet.FreeDraw` events, and then re-adding those upon adding the layer with the `createPolygon` method.

[code]

And then later something like the following:

[code]

[2015-04-30 11:37] fplgusmao commented on #54
Ok, it seems like a good trick! I'll try and give you the update soon

Thanks a lot

[2015-04-30 11:39] fplgusmao commented on #54
Just a question, that `eventData.latLngs` contains every polygon currently on the map? I thought it was only the one that was drawn/deleted/edited

[2015-04-30 11:43] Wildhoney commented on #54
Nope, it is every polygon on the map :+1: they're in insertion order though, so the last one is `eventData.latLngs[eventData.latLngs.length - 1]`.

[2015-04-30 11:58] fplgusmao commented on #54
I think it's working! Thanks so much, really!

[2015-04-30 12:09] Wildhoney commented on #54
No problem! :+1:

[2015-05-04 11:54] jekuno commented on #53
@Wildhoney Could you already have a look at the fiddle? :)

[2015-05-04 16:01] Wildhoney commented on #53
Please take a look at `v1.1.11` @jekuno &ndash; I've added support for multiple class names, as I'm not fond of the consequences of having multiple instances of the `FreeDraw` layer &ndash; mostly because the binding of events are done on the map instance, rather than on a layer instance (which seems like a Leaflet limitation, but c'est la vie).

[code]

You can probably guess, but by supplying an

[2015-05-04 16:02] #54 closed

[2015-05-04 17:38] Wildhoney commented on #52
I still don't agree that this should be part of `FreeDraw` because it is potentially far-reaching:

* Adding polygon edges as you click, as you do in `Leaflet.draw`, whereas `FreeDraw` doesn't have any notion of edges whilst drawing;
* Drawing of straight lines in between each click, when `FreeDraw` doesn't *know* what a straight line is. Currently each `latLng` is pushed into the `latLngs[]` arra

[2015-05-07 14:30] jekuno commented on #53
Thanks for investigating this. I had a look at it and I'm afraid it doesn't meet my needs yet:

The user wants to draw none, one or many polygons of the same color e.g. two blue polygons, no pink polygon and seven brown polygons. He has buttons to switch to the desired color so that he can e.g. start with drawing two brown polygons, then add a blue polygon, then continue drawing brown polygons.

Y

[2015-05-07 14:52] Wildhoney commented on #53
It seems very specialised, but I'm happy to look into it :+1: Give me some time please.

[2015-05-08 05:34] jekuno commented on #53
Great news. Thanks for this! I'm curious what you will end up with :)

[2015-05-15 13:48] jekuno commented on #53
@Wildhoney Out of curiosity... Did you already find some time to look into it? :)

[2015-06-06 22:56] melmeseery opened #56 "Polygon is reset when using leaflet developmen version"
I have a project that requires working on Leaflet development version (0.8 - 1.0),  I already implemented some features that uses the development version of the code.  I wanted to use freedraw in the project. The code is not compatible with the new version, I have tried both the 0.8 and 1.0 and both does not work. It works find with the 0.73 leaflet but I need it to work with the new version.

 Th

[2015-06-15 15:05] fplgusmao opened #57 "CREATE mode disables scroll wheel zooming and never enables it again"
I have first noticed this in my app but even in the provided heroku app you can see the problem.

In the example app, as expected, when in the `CREATE` mode, the "scroll to zoom" is deactivated. There, after drawing a polygon (since `freeDraw.options.exitModeAfterCreate` is on), `CREATE` mode becomes disabled, and, with it, the "scroll to zoom" becomes enabled again. So far, so good. **The problem

[2015-06-19 20:28] Wildhoney opened #58 "Add ElasticSearch helper"

[2015-06-20 12:18] #58 closed

[2015-06-30 21:05] tharrington opened #59 "mobile issues"
I am able to use the free draw in the browser, but when I run in the iOS simulator (as a cordova/ionic app), the drawing does not work. Is this compatible?

[2015-07-01 07:24] Wildhoney commented on #59
There's been quite a few on-going discussions about supporting mobile, but Leaflet doesn't currently provide the necessary hooks to make it mobile-friendly. It is possible to support it &ndash; but needs some thought.

See https://github.com/Wildhoney/Leaflet.FreeDraw/issues/3

[2015-07-01 07:24] Wildhoney commented on #3
@pztrick Did you have any luck in supporting mobile?

[2015-07-01 15:00] pztrick commented on #3
@Wildhoney No, I never made the time, unfortunately.

[2015-07-03 08:50] jekuno commented on #53
@Wildhoney Any news on this already? If I can assist on this feel free to leave a note! :)

[2015-08-21 11:11] stev-0 opened #60 "Dealing with point creation"
I suspect I know the answer to this based on the readme, but what is the opinion on extending Leaflet.FreeDraw to deal with point creation? I assume this isn't at all on the project's roadmap. I guess I could attempt to add it myself, but it does seem like something that would be easier to do through Leaflet.Editable (part of the reluctance for using Leaflet.Draw is that there are a large number o

[2015-08-21 12:01] Wildhoney commented on #60
Thanks @stev-0 !

That does sound quite insane, but fair play to you if you're going to attempt that. You're right that it's not on the project's roadmap unfortunately. I think one module should shine at only one thing, and let other modules do their thing, and then combine them in your project. Otherwise the module becomes far too overreach and diluted.

[2015-08-21 20:03] stev-0 commented on #57
I don't know if this really is this simple. It seems to work on my limited testing, but I'm assuming there was a good reason for having it in the condition originally. You could try the patch anyway

[2015-09-23 16:27] nmccready commented on #3
Anyway some peeps can work together?  https://github.com/Leaflet/Leaflet.draw/pull/285

[2015-09-23 16:30] pztrick commented on #3
@nmccready: As someone that uses the Leaflet.draw fork that added mobile support, I definitely think it would be cool for these two projects to figure out mobile together. It's been over a year since I implemented touch in my last project and I'm much too time-poor to be the one that dives in unfortunately. :(

So... here is my :+1:.

[2015-09-23 16:36] nmccready commented on #3
Yeah I know how that goes. Well by looking at the above ticket.. I need to pound out a 1.X leaflet branch on [angular-leaflet-directive](https://github.com/tombatossals/angular-leaflet-directive/)

[2015-09-23 17:18] emakarov opened #61 "Option to remove elbows?"
There's an option to attach elbows, but how to make an option to remove them?
Sometimes it's required to remove edges as well.
I also detected that when editing the polygon, it's possible to remove elbows that were created on click after initial draw. But not "original" elbows

[2015-09-24 13:45] jekuno commented on #53
@Wildhoney In https://github.com/Wildhoney/Leaflet.FreeDraw/issues/53#issuecomment-99896674 you planned to look into the 'Multiple FreeDraw instances' feature.
I will need to get this feature working soon - are you still after it? If not so, can you give me some ideas on how to implement it myself?
Thanks a lot!

[2015-10-05 11:13] Wildhoney commented on #61
@emakarov Elbows are **always** attached, but are only visible when the `L.FreeDraw.MODES.EDIT` bit is set. How would removing an edge work? Since that would essentially destroy the polygon.

How would I replicate the issue where elbows are removed? I'm only aware of elbows being removed where it's a *pointless* elbow, because the line is straight from A to C, and therefore elbow B would be redund

[2015-10-05 11:44] emakarov commented on #61
I will close issue for a while, also cannot reproduce the bug

[2015-10-05 11:44] #61 closed

[2015-10-05 11:49] Wildhoney commented on #61
Thanks @emakarov let me know if you encounter it again.

[2015-10-07 20:27] mathisonian opened #62 "browserify support"
Hey @Wildhoney,

Thanks for the awesome library. We've been using it happily for the [lightning-viz](http://lightning-viz.org) project.

Unfortunately because we are using browserify instead of script tags, we are running into some issues and have had to fork it to get it to work properly https://github.com/mathisonian/leaflet.freedraw-browserify, but obviously this is not ideal (makes it hard to

[2015-10-07 21:32] Wildhoney commented on #62
Absolutely @mathisonian &mdash; if you could open a PR based on Leaflet's outlined best practices as you mentioned, that would be awesome :+1: Happy to merge.

[2015-10-07 21:37] mathisonian commented on #62
awesome, I should have some time to put together a PR over the next couple of days

[2015-10-07 21:38] Wildhoney commented on #62
Thanks @mathisonian! Good work.

[2015-10-08 08:47] hrishiballal opened #63 "Polygon additions"
I am new to this library, I had a quick question regarding adding new polyons. I want to keep track of the Leaflet ID of every polygon. It seems like everytime a polygon is added new ids are assigned all the polygons, so there is no way to know which particular polygon is the "newest".

I am not so much interested in the lat langs since I dont want to assign new ids everytime a polygon is added an

[2015-10-08 09:20] Wildhoney commented on #63
That's right, but it's not as simple as that because of polygon merging.

Assume you have 3 **separate** polygons on the map, you can certainly determine which is the new polygon by diffing which polygons you've seen before:

[code]

However, if you draw a polygon that encompasses all three of those polygon, and therefore merging 4 polygons together, those previous polygons are now invalid, and th

[2015-10-08 09:27] hrishiballal commented on #63
Thank you for your comment, agreed this till give me the added polygon, however, in addition, this means that there needs to be a logic for edited as well. What I trying to do is the following:
1) Enable the user to sketch two types of polygons: one red and one green, at any time they can edit / add / remove polygons.
2) I start with drawing the red polygon, after it is complete, I select drawing

[2015-10-08 09:48] hrishiballal commented on #63
Your code above will work for add / remove but will not work for edits.

[2015-10-08 11:56] jekuno commented on #63
@hrishiballal What you are trying to do (drawing polygons in different colors) sounds similiar to my plans described in #53. My approach was to create a separate freedraw instance per color.

[2015-10-08 13:29] hrishiballal commented on #63
Yes it seems that is the way to implement it, but I can see it being a problem for a lot of colors > 20. Also does this mean that I will need two edit / delete buttons ( one for every layer)?

[2015-10-08 13:46] jekuno commented on #63
You don't need separate edit/delete buttons. If a user clicks on the "red color polygon tool" you can activate e.g. the CREATE, EDIT and DELETE mode for this freeDraw instance so that the user can either draw new red polygons or edit existing red polygons or delete existing red polygons by clicking into them.
If you have more than 20 colors you probably wouldn't add 20 buttons but make some dropdo

[2015-10-08 13:48] hrishiballal commented on #63
Yes that would be really great especially since it is not just about color, it other metadata and properties that can be attached to a drawn element (that are not lost).

[2015-10-08 13:52] hrishiballal commented on #63
How to enable click to edit / delete? I am manually setting the modes currently.

[2015-10-08 13:56] jekuno commented on #63
When you set the delete mode you can click into a polygon to delete it. See http://freedraw.herokuapp.com/

[2015-10-08 13:59] hrishiballal commented on #63
Yes but how to capture what polygon has been clicked on?
[code]

[2015-10-08 14:01] jekuno commented on #63
I am talking about a click on the tool (i.e. the button for switching to the according color) not about a click on the polygon itself.

[2015-10-08 14:26] hrishiballal commented on #63
Ah got it! So enable edit, delete and create mode all in one for that freedraw instance when the . OK understood.

[2015-10-08 14:42] jekuno commented on #52
@Wildhoney Thanks for this. I'm right now experimenting with this again and will report back if I got it working. :)

[2015-10-08 14:48] freeman-lab commented on #62
:+1: this will be really useful!

[2015-10-08 15:39] fplgusmao commented on #57
@stev-0 sorry for the ignore, man, I just saw your answer now! meanwhile I'm refactoring my whole app, and I will just take care of the FreeDraw part after a while... When I do it, I'll try your patch and see if it works.

Thanks very much!

[2015-10-13 07:52] hrishiballal commented on #63
I have been implementing this solution now and have a couple of issues:
I have added two freedraw instances and bound them on the same map. My user interface I have two buttons, one for red and other for green and enabling them sets EDIT, DELETE and CREATE (EDC) modes for that specific freedraw instance (and turns the other to "View" mode).

I can create polgyons with this no problems. However, wh

[2015-10-13 10:22] jekuno commented on #63
Might this be related to the issue I filed in #53 as reproduced in http://jsfiddle.net/1smuagqz/2/?

[2015-10-13 11:43] hrishiballal commented on #63
Yes it is similar. I cannot share the entire code, since it is integrated into a very large application following are some snippets:
1) Radio buttons to switch views:
![controls](https://cloud.githubusercontent.com/assets/1588744/10453689/4483fa16-71a6-11e5-80dc-16c999f56bde.png)
2) Add two freedraw layers to the map
[code]
2) in the 'onchange' of radio button
[code]
Flow:
Step 1) Create red, draw

[2015-10-13 12:28] jekuno commented on #63
Thanks for the detailed documentation of the issue.

As I understand what @Wildhoney says in https://github.com/Wildhoney/Leaflet.FreeDraw/issues/53#issuecomment-98765806 there are problems with multiple `FreeDraw` layers because `Leaflet` binds events on the map and not on separate layers.

That's why you, @hrishiballal, probably also need to try to work with only ONE `FreeDraw` layer.
To make th

[2015-10-13 13:56] hrishiballal commented on #63
I see, this is a bit unfortunate. What is the way out of this? My application needs to have different polygon colors. I am sure this is quite common.

@Wildhoney I am happy to do a very modest fee contribution to the library for this if it can be prioritized.

[2015-10-14 12:23] Wildhoney commented on #63
Two polygons of different colours certainly wasn't in the initial plan for this module. If you folks want to try and add it to the module, then pull requests are more than welcome, considering you don't break existing functionality or complicate the interface.

[2015-10-14 14:47] hrishiballal commented on #63
Can you point to a place to start please? I am not in a position to contribute because of my schedule currently but I can start looking at it.

[2015-10-14 14:50] Wildhoney commented on #63
Well as @jekuno pointed out, I've already implemented part of it with https://github.com/Wildhoney/Leaflet.FreeDraw/issues/53 &ndash; it just didn't go far enough to what he wanted. I'd definitely use that as a starting point.

I wouldn't recommend going down the two instance route though, as that seems like a hack.

[2015-10-20 21:35] hrishiballal commented on #63
I looked at the code and tried a couple of approaches and I do not think that it will work. Here is what I tried: Store all polygons from getPolygons in a object with their type and try to link them to createPolygon method , however because the Clipper library is being used to recreate the polygons, the state information is lost. Furthermore the code recreates all polygons on the layer and not jus

[2015-10-26 11:07] hrishiballal commented on #63
I was able to implement a two polygon drawing code using the steps mentioned earlier in this thread, only editing is disabled and also merging. Once we have that, the polygons can be tracked. I use _originalPoints to check the polygons since that seems to the best way to be sure. Closing this bug.

[2015-10-26 11:07] #63 closed

[2015-10-26 15:06] jekuno commented on #63
Great you achieved some progress here. Let me ask you some questions:

1. Do you find the matching polygon by iterating over the existing polygons and comparing all points?
2. Would you propose changes in `Leaflet.FreeDraw` to make it easier to identify the matching polygon?
3. Do you plan to support editing as well?
4. Could you share the code so that the community can maybe cowork on this?

[2015-10-29 22:25] hrishiballal commented on #63
Hi @jekuno , sorry for the late reply, I have been busy testing the implementation.

1) Yes however I use _originalpoints array and check that (length and content)
2) I looked at polygon hashing but for the moment just checking the length of originalpoints and latlng contents seems to work. I am not sure how to hash geojson polygons, another angle I looked at was polygon area using GeoJSON utils.

[2015-10-30 09:28] Wildhoney commented on #63
@hrishiballal When you say *I wish it could support GeoJSON better*, do you have any specific areas that you think could be improved on? Would be great to know where improvement is needed :+1:

[2015-10-30 09:33] hrishiballal commented on #63
I am new the library so I am sure I will  have more as I use it more, but for example createPolygon / createPath takes in latlngs, it could very well take in geojson and construct the polygon (s) based on the feature collection.

[2015-11-09 15:21] hrishiballal opened #64 "Polygon style lost on edit"
I am having a peculiar issue while polygon editing. When I have a polygon and editing is enabled the handles appear as normal below:
![before](https://cloud.githubusercontent.com/assets/1588744/11037358/453b001c-86f5-11e5-8d93-aeb2e8cfd03a.png)

However after editing the color of the polygon is lost, instead of the default blue, it should be pink as before editing. Can someone please help as to ho

[2015-11-09 15:30] Wildhoney commented on #64
How are you applying the styling?

You can [see in the example](http://freedraw.herokuapp.com/css/Map.css) how to do it:

[code]

[2015-11-09 15:32] hrishiballal commented on #64
I have polygons of different colors so I am not suing the CSS instead after draw, I am looping over the polygons and applying a setStyle. I think that there is no way to do this when there are more than one colors.

[2015-11-09 15:35] Wildhoney commented on #64
Only via https://github.com/Wildhoney/Leaflet.FreeDraw/issues/53#issuecomment-98765806

[2015-11-09 15:38] hrishiballal commented on #64
Understood. However, I cannot use that class based codes since the colors and the fill pattern are dynamically generated based on other things that are selected. Closing issue.

[2015-11-09 15:38] #64 closed

[2016-02-08 17:57] fplgusmao commented on #57
@stev-0 Only tried this now, but it's working perfectly, for me! would be great to hear from @Wildhoney to know if this can be merged.

[2016-02-08 20:01] Wildhoney commented on #57
Happy to merge, folks! @stev-0 Would you like to open a PR for this, please?

[2016-02-08 22:24] #57 closed

[2016-04-07 10:06] gherardovarando opened #66 "leaflet.draw and events subscription"
Thanks for the plugin,
It is possible to use it in conjunction with leaflet.draw ? I tried but  freeDraw seems to broke some of leaflet draw capabilities.
Moreover I do not get how to subscribe to featureGroup events like "layeradd" ? It seems that using freeDraw.on("layeradd",...) does not work.
Thanks

[2016-04-07 10:45] Wildhoney commented on #66
People have had [some luck](https://github.com/Wildhoney/Leaflet.FreeDraw/issues/24) in toggling between the two by disabling one or the other.

For the `layeradd` event I don't see any reason why it wouldn't work, assuming your adding a layer to FreeDraw. For the map itself use the `layeradd` event on `L.Map` instance.

[2016-04-28 15:30] zer0x304 opened #67 "Support for 1.0 rc1"
My mistake... :/

[2016-04-28 15:31] #67 closed

[2016-06-05 11:03] mohd-akram opened #68 "markers event firing unnecessarily"
The documentation states that the `markers` event is fired when a polygon is created, deleted or edited. However, it also fires on the map's `zoomend` - this makes it difficult to know what actually happened.

[2016-06-08 07:32] njbarrett commented on #62
@mathisonian did you manage to get a PR together? Im interested in using it

[2016-07-13 14:31] GabrielCW commented on #26
@hotmeteor May I ask exactly how you solved that problem?

I'm facing the same issue right now, and I can imagine others might too in the future.

[2016-07-13 14:37] Wildhoney commented on #26
[`createPolygon`](https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/components/FreeDraw.js#L739-L838) should do it for you.

[2016-07-13 14:38] hotmeteor commented on #26
I don't totally remember, and it's in a codebase I no longer have access to. However, I think all that I did was add the polygon layer to the map instead of FreeDraw, something like:

[code]

[2016-07-13 14:45] GabrielCW commented on #26
``createPolygon``  worked like a charm, thanks!

[2016-07-13 17:47] VictorChen opened #69 "Is it possible to remove D3.js as a dependency?"
D3 is a pretty big library, is it possible to achieve the same result without it?

[2016-07-13 18:43] Wildhoney commented on #69
Absolutely! I've been thinking the same. Will take a look into it, unless you want to attempt it yourself!

[2016-07-14 14:32] VictorChen opened #70 "How to change draw path color?"
Seems like it's currently hardcoded to `#D7217E` ?

[2016-07-14 14:39] Wildhoney commented on #70
Yes, but just [overwrite it](https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/example/css/Map.css#L27-L29) with your own CSS.

[2016-07-14 14:42] VictorChen commented on #70
ah cool, thanks!

[2016-07-14 14:42] #70 closed

[2016-07-27 13:39] hrishiballal opened #71 "Leaflet 1.0 Compatibility"
When I use the latest release of FreeDraw with Leaflet 1.0 rc2, I am getting clipping errors especially in latLngsToClipperPoints. I can investigate more but I was wondering if this library is can be used with Leaflet 1.0?

[2016-08-04 14:51] Wildhoney commented on #71
Sadly I need to update the module for 1.0 &mdash; definitely on the cards!

[2016-09-15 10:10] hrishiballal commented on #71
Relevant API changes to Leaflet 1.0 taken from a [Leaflet.draw](https://github.com/Leaflet/Leaflet.draw/pull/596) bug.

- Polylines and Polygons may now use nested Arrays of LatLng objects. These correspond to deprecated MultiPolygons containing multiple "rings" where the first Array is the outer ring and all subsequent rings are subtracted inner rings (e.g. donut).
- The Polygon.getLatLngs() meth

[2016-09-17 07:56] aartikanungo opened #72 "Map CSS is not working properly"
section.map.mode-edit div.polygon-elbow {
    opacity: 1;
    pointer-events: all;
}

section.map.mode-create {
    cursor: crosshair !important;
}
these two sections are not working on my map..  except these two everything is working fine. any solution?

[2016-09-19 07:37] Wildhoney commented on #72
Do you have a `section.map` node in your page?

[2016-09-21 04:03] bozdoz commented on #44
There are two issues here (assuming `L_PREFER_CANVAS = true`):

1. `setPathClipperPadding` alters `L.Path.CLIP_PADDING` which in my tests completely clips each  polygon, rendering it invisible
2. `emitPolygonCount` is looking for svg paths which won't exist, determining that there are no polygons and then calling `_clearPolygons` (which removes the canvas polygons)

I can submit a proposed fix.

[2016-09-28 09:24] Wildhoney opened #76 "Leaflet 1.0"
- Upgrade to Leaflet 1.0
- Remove D3 as a dependency
- Prevent event firing on zoom
- Support `WebWorker` for hull algorithm

[2016-09-28 09:24] Wildhoney commented on #71
Thanks @hrishiballal &mdash; now Leaflet 1.0's been released, I'll make this a priority: https://github.com/Wildhoney/Leaflet.FreeDraw/issues/76

[2016-09-28 09:24] #71 closed

[2016-09-28 09:24] Wildhoney commented on #69
Will try to achieve this when I upgrade to 1.0 in https://github.com/Wildhoney/Leaflet.FreeDraw/issues/76

[2016-09-28 09:24] #69 closed

[2016-09-28 09:25] Wildhoney commented on #68
Will attempt to fix in https://github.com/Wildhoney/Leaflet.FreeDraw/issues/76

[2016-09-28 09:25] #68 closed

[2016-09-28 09:25] #66 closed

[2016-09-28 09:27] Wildhoney commented on #49
Will consider implementing in https://github.com/Wildhoney/Leaflet.FreeDraw/issues/76

[2016-09-28 09:27] #49 closed

[2016-09-28 09:28] #46 closed

[2016-09-28 09:28] #43 closed

[2016-09-28 09:29] #42 closed

[2016-09-28 09:29] Wildhoney commented on #38
hull algorithm

[2016-09-28 09:29] #38 closed

[2016-09-28 11:09] sinaru opened #77 "Rendering polygons that cover (0,0) renders as a SQUARE!"
When using `freeDraw.createPolygon(...)` method to render polygons that is covering to geo coordinates (0, 0) it renders as a **square**.

[code]

Here are results of printing latitude, longitude coordinates in two use cases.

 Testing with a polygon of 5 points that is **not covering** (0,0) geo point:

`print(polygon.getLatLngs())`

`print(freeDrawPolygon._latlngs)`

**Note** freeDrawPolygon has

[2016-11-08 16:26] chriserickson commented on #76
Hello,
I was curious if you had any timeline regarding 1.0 support.

Thanks!

[2016-11-21 09:33] Wildhoney commented on #76
It's [in progress](https://github.com/Wildhoney/Leaflet.FreeDraw/commits/v1) @chriserickson &ndash; please give me a week or two to write all the tests, update the docs, etc...

[2016-11-21 16:45] chriserickson commented on #76
Great, thanks for the update!

[2016-11-28 17:13] Wildhoney commented on #77
Please try with [`v2.0.0`](https://github.com/Wildhoney/Leaflet.FreeDraw).

[2016-11-28 17:13] #77 closed

[2016-11-28 17:13] Wildhoney commented on #72
Please try with [`v2.0.0`](https://github.com/Wildhoney/Leaflet.FreeDraw).

[2016-11-28 17:13] #72 closed

[2016-11-28 17:14] Wildhoney commented on #76
All released as `v2.0.0` 👍

I've tried my hardest to replicate the existing behaviour, but there are a number of changes which I've updated the README to reflect.

[2016-11-28 17:14] #76 closed

[2016-11-28 17:14] Wildhoney commented on #62
Please try with [`v2.0.0`](https://github.com/Wildhoney/Leaflet.FreeDraw).

[2016-11-28 17:14] #62 closed

[2016-11-28 17:14] #60 closed

[2016-11-28 17:15] Wildhoney commented on #56
Please try with [`v2.0.0`](https://github.com/Wildhoney/Leaflet.FreeDraw).

[2016-11-28 17:15] #56 closed

[2016-11-28 17:15] #53 closed

[2016-11-28 17:15] #52 closed

[2016-11-28 17:15] Wildhoney commented on #51
Please try with [`v2.0.0`](https://github.com/Wildhoney/Leaflet.FreeDraw).

[2016-11-28 17:15] #51 closed

[2016-11-28 17:16] #28 closed

[2016-11-28 17:16] #47 closed

[2016-11-28 17:17] Wildhoney opened #79 "Support maximumPolygons with pop option"

[2016-11-28 17:17] #44 closed

[2016-11-28 17:17] #59 closed

[2016-11-29 14:53] Yago commented on #3
@Wildhoney you are my hero 😍  !!!

Last week, I did a lot of research and tests about map free draw on touch devices and I was so sad to not find a good solution. Even yours, the far better Leaflet (that I love) module doesn't... I come back today and see the v2 release which support touch devices pretty damn well :scream: Perfect timing !

Our client don't want to negotiate that feature, you tota

[2016-11-29 22:11] Wildhoney commented on #3
Hahaha... That's good! You're more than welcome 👍

I think it still needs some work for mobiles, but at least it's better than how it was.

[2016-11-29 22:31] #79 closed

[2016-12-02 20:32] sainsb opened #81 "Use without webpack/angular"
How would I use this without webpack/angular? I feel like you're getting too fancy for a lot of your audience...(but your work is greatly appreciated)

[2016-12-03 00:07] Wildhoney commented on #81
@sainsb I hear what you're saying. Although in my defence I would like to say that the example has **always** been written in Angular &ndash; it's not something I changed with `v2.0.0`.

I'm not the biggest fan of Webpack by a long way, as I believe it's significantly overstepping the mark with `import`ing things like CSS, images, etc... when `import` is solely for JavaScript.

With that said thou

[2016-12-03 00:38] Wildhoney commented on #81
I've updated the dependencies, minified the output for the web, and made it `new FreeDraw` rather than `new default.FreeDraw`. For the output we're down to 267KB, and 75.4KB with GZIP compression level 6.

JSFiddle updated: https://jsfiddle.net/sxgwtnhk/1/ 👍

[2016-12-03 03:38] sainsb commented on #81
Aha, I think I got a little misled by the examples. calling the constructor with `new FreeDraw.default ({ mode: FreeDraw.ALL})` was not obvious.  Sorry to be whiney.  this module really is awesome.

[2016-12-03 03:38] #81 closed

[2016-12-28 20:25] knownasilya commented on #76
Is 2.0 backwards compat with Leaflet < 1.0?

[2017-01-03 08:36] Wildhoney commented on #76
I haven't tested it, but I think support would be **very** limited as Leaflet 2 has removed `CLIP_PADDING` which means a huge amount of code to support clipped paths was removed from `v2.0.0`.

[2017-01-18 03:34] njbarrett opened #82 "Browserify Failed!: Cannot find module 'leaflet-freedraw'"
Hey there,

Just trying to upgrade from a v1 to v2 today. I'm looking at the docs and it says to do

`import FreeDraw from 'leaflet-freedraw';`

However the module is called `leaflet.freedraw`.

When I change it to `import FreeDraw from 'leaflet.freedraw';` it's still not working however.

[2017-02-03 13:54] Dahkon opened #83 "Changing styles dynamicaly"
It would be nice to have a method to dynamicaly change default styles.
We can change with javascript injecting style on the polygons but when a new one is drawn it automatically get the default style.
I'm sure I will find a solution but a native one would be better.

Thanks,

[2017-02-03 14:46] Wildhoney commented on #82
Hey @njbarrett I've renamed the package to `leaflet-freedraw` as I'm not sure why I chose the period for the package name &ndash; in hindsight it seems odd. Please try again now and see if the issue persists.

[2017-02-03 14:47] Wildhoney commented on #83
Can you not use CSS for the styles? For example the demo's [polygon is styled with CSS](https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/example/css/default.css#L145-L150).

[2017-02-03 14:55] Dahkon commented on #83
Not really, those styles are used by default but I use some sliders and colorpicker to change the polygons inline styles. This is working when the polygons are already drawn. But when I add a new one, all polygons get the default styles (css like in the demo).

I found a way but that's not a great solution, I use markers event to change all polygons styles.
So any action on polygons forces styles

[2017-02-06 08:32] Wildhoney commented on #83
Interestingly we could use CSS variables for something like this &ndash; [see the example I hastily put together](https://jsfiddle.net/tnaw1tm2/). Although of course [support](http://caniuse.com/#feat=css-variables) is the only weakness in such a solution.

I'm not entirely sure how a native solution would work, but I'll have a think.

[2017-02-06 08:44] Dahkon commented on #83
Css variables would be awesome when Edge supports it...

Maybe a function setStyle in the leafdraw object could do the job. Then each new polygon can be set to this default style if it's set, instead of the css stylesheet.

So far my solution is working anyway so no hurries for me.

Great plugin by the way.

[2017-02-09 06:42] njbarrett commented on #82
@Wildhoney I am having this problem now:

[code]

` _leafletFreedraw2.default is not a constructor`

[2017-02-09 09:08] #82 closed

[2017-02-09 09:13] Wildhoney commented on #82
Sorry @njbarrett please try again. I think the [`browser` field](https://github.com/Wildhoney/Leaflet.FreeDraw/commit/c4be85e906f0396b04fe1f9e18c2497c42b29332#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L6) was causing issues.

[2017-02-09 09:32] njbarrett commented on #82
Hey thanks for your help @Wildhoney I am getting somewhere.

It's now saying:

`Browserify Failed!: Cannot find module 'L' from '/Users/nick/Sites/landguide/node_modules/leaflet-freedraw/dist'`

`Browserify Failed!: Cannot find module 'ClipperLib' from '/Users/nick/Sites/landguide/node_modules/leaflet-freedraw/dist'`

I do have leaflet as a dependency in my package.json
I'm not sure about ClipperL

[2017-02-09 09:52] Wildhoney commented on #82
Yep, install those (`npm i ramda leaflet clipper-lib`) as they are external dependencies. You'll need to `import L from 'leaflet'` above `import FreeDraw from 'leaflet-freedraw'`

[2017-02-10 01:42] njbarrett commented on #82
Hey @Wildhoney
I have installed those dependencies now. Same error.
Shouldn't browserify be looking for a module called `leaflet` and `clipper-lib` not `L` and `ClipperLib` ?

[2017-02-10 08:31] Wildhoney commented on #82
Well in Webpack you can use the `resolve.alias` to setup the externals, and in Browserify there seems to be [Aliasify](https://github.com/benbria/aliasify) for this purpose.

I've [just changed](https://github.com/Wildhoney/Leaflet.FreeDraw/commit/2b7e4b34daf275ed7a5a0aaac80b2d35056a127e) the mapping in Webpack for the externals, so first please see if that helps without having to resort to Aliasi

[2017-02-10 08:58] njbarrett commented on #82
@Wildhoney That's done the trick! The bundle compiles successfully now.
One more problem...

`Uncaught ReferenceError: regeneratorRuntime is not defined`

and here's the context of the error from my inspector:

[code]

Is this an issue with the transpiled file? From googling this looks like a possible fix... https://github.com/babel/babel/issues/2877#issuecomment-270700000

[2017-02-10 09:24] Wildhoney commented on #82
That's good 👍 Yep, you're going to have to [apply Regenerator](https://github.com/amiorin/regeneratorify) to the bundle.

[2017-02-13 07:10] njbarrett commented on #82
Thanks for your help @Wildhoney
That regeneratorify didn't work, I don't think it's been updated in a long time.

I ended up switching the whole build process to webpack and have it all working now. I learnt a lot in the process too.

[2017-02-13 08:45] Wildhoney commented on #82
Thankfully 👍 Although it's slightly annoying that we couldn't get it working with Browserify.

[2017-02-13 08:54] njbarrett commented on #82
I'm sure it can be done, I know I was close.
Hopefully someone will find this on google and post if they got it working.

[2017-03-14 14:03] Dahkon opened #84 "Too much simplification when loading existing polygons"
Hello,

I try to load existing polygons to edit. But the points are getting too much simplification so instead of approximates circles, I get approximate hexagons (sort of).
Modifying options dit not change a thing.

Here is initialisation for now (tryed 0 for both smooth and simplify).
`new FreeDraw({ mode: FreeDraw.NONE, elbowDistance:5, smoothFactor:0.5, simplifyFactor:0.2 });`

Maybe the probl

[2017-03-23 08:41] flexnst opened #85 "How a can save changes?"
How i can save changes after create, and after move elbows? Events `moveend` and `dragend `not working

[2017-03-23 08:43] flexnst commented on #85
Event `markers` after move not working

[2017-03-23 08:52] Wildhoney commented on #85
![Video](http://i.imgur.com/RyipEbX.gif)

[2017-04-02 22:02] thomaslaine opened #86 "Missing build.js and leaflet.css"
Hello Adam, firstly thanks for your work. I got an issue. I'm sure it is on me, I don't understand or I forget to do something but I am stuck. When I launch the exemple build.js and leaflet.css are missing. I tried unsuccessfully to create them from your website or JSFiddle, it does not work.
Thank you for your input.

[2017-04-02 22:17] Wildhoney commented on #86
Hmm, I'm not sure why `default.css` would be missing, but the `build.js` comes from the Webpack build.

Try [`npm run start`](https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/package.json#L10) which should `npm i`, build, and start the local web-server for you on [`localhost:5000`](http://localhost:5000/) 👍

[2017-05-03 23:16] GeoTob commented on #3
After reading through this issue and particularly @Yago's comment:

I'm not sure if touch is supposed to work or not? So far I'm not having any luck when trying to use this on mobile, but might have missed a setting somewhere?

[2017-05-16 03:10] treyhakanson opened #88 "Uncaught ReferenceError: regeneratorRuntime is not defined"
Getting the following error in at leaflet-freedraw.cjs.js:734:

[code]

I am only using es2015 stage-1 in my .babelrc, but I assume this shouldn't matter, as the library is using stage-3. I tried to use es2016 and stage-3 in my config just to be sure, and to no avail. Any ideas? Great job on the library by the way, I love the features you've put in!

[2017-05-16 07:01] Wildhoney commented on #88
Thanks @treyhakanson!

You'll need either [`transform-regenerator`](https://babeljs.io/docs/plugins/transform-regenerator/) or the more general [`babel-polyfill`](https://babeljs.io/docs/usage/polyfill/) which includes it.

[2017-05-16 07:03] Wildhoney commented on #86
Did you fix this?

[2017-05-16 07:03] #86 closed

[2017-05-16 07:03] Wildhoney commented on #85
Any luck with resolving this one?

[2017-05-16 07:03] #85 closed

[2017-05-16 07:04] Wildhoney commented on #83
Thanks @Dahkon! I think we'll wait for CSS variables, as otherwise we'll end up taking the route down the rabbit hole, as I did with the previous version of the lib, which didn't quite work.

[2017-05-16 07:04] #83 closed

[2017-05-16 07:04] Wildhoney opened #89 "Add undo/redo functionality"

[2017-05-16 11:17] treyhakanson commented on #88
`transform-regenerator` was giving me issues for some reason, but the following worked in my webpack config:

[code]

thanks!

[2017-05-16 11:17] #88 closed

[2017-05-22 09:55] Jesusvl opened #90 "get features"
It's possible get feature layer inside area after drawing it?

[2017-05-23 14:22] jimhill commented on #89
This would be perfect timing! 👍

[2017-06-05 13:54] r2my opened #91 "load polygon"
Hi,

I'm trying to load a polygon but I have an error.

I added the code below on default jsfiddle:
https://jsfiddle.net/t6e48rm5/
const polygons = freeDraw.create([
    new L.LatLng(51.50046151184328, -0.08771896362304689),
    new L.LatLng(51.50067523261736, -0.09175300598144533),
    new L.LatLng(51.50329323076107, -0.09106636047363283),
    new L.LatLng(51.50409462869737, -0.08763313293457033)

[2017-06-05 18:55] #91 closed

[2017-06-05 18:56] r2my commented on #91
JS file updated, issue seems fixed. Thanks for this great plugin! :)

[2017-06-06 07:05] Wildhoney commented on #91
Awesome! 😄

[2017-06-07 15:45] ventralnet opened #92 "Ability to specify you want to fire a 'markers' event when manually calling the create method"
I would like to ability to have the create method fire a markers event if you use it to manually create a polygon.

[2017-06-07 17:09] ventralnet commented on #92
It would be nice to be able to specify this for most of the API calls (such as remove and clear)

[2017-06-08 09:20] aphilip17 opened #93 "leaveModeAfterCreate option does not seem to work"
Hi,
I set leaveModeAfterCreate to true. I would like to leave the CREATE mode after drawing.
I also tried in your JSFiddle.
https://jsfiddle.net/t6e48rm5/

Thank you

[2017-06-09 07:50] Wildhoney commented on #93
[It seems to work](https://jsfiddle.net/t6e48rm5/66/) when you set `leaveModeAfterCreate` to `true`.

[2017-06-09 07:56] Wildhoney commented on #92
If you manually create a polygon then you can also manually trigger the event using `freeDraw.mode(CREATE)`. Otherwise we'll be complicating the methods.

[2017-06-09 10:01] aphilip17 commented on #93
Okay my bad, it's because I was passing the leaveModeAfterCreate directly to an instance , instead of passing it to the its options.
Should have double-checked before posting it.

[2017-06-09 10:01] #93 closed

[2017-06-09 10:05] Wildhoney commented on #93
👍

[2017-06-12 10:36] aphilip17 opened #94 "Mousedown event never unregister"
Hi,

I instanciate freeDaw.mode(Create) and pass ‘leaveModeAfterCreate’ to true in option.
But mousedown event continue to be register on the map each time I click. This event is register in listenForEvents method.

I made some tests. Mousedown seems not to be removed because of the bind this.
If I remove bind this to the mouseDown method and put ‘var _this2 = this’ outside the method, the event s

[2017-06-12 14:50] tjfy1992 opened #95 "Is there anything I can do to develop using ES5?"
My project needs to provide support for IE8, and seems not working with ES6. Any suggestions? Thanks!

[2017-06-19 07:54] idawave commented on #94
Hi.

Found the same problem.
Not sure you can name a function registrered as handler for event triggering and then bind it with a context.
Result is that when trying to remove the event, functions comparison returns false and thus the handlers are never unregistered.
Just put a console.log in the mouseDown handler and see it triggers even after disabling the Freedraw mode.

[2017-06-22 19:19] MaxLeiter opened #96 "Calculate area/size"
Is there a way to calculate the "area" of the free-drawn polygon? (In terms of pixels, maybe?)

[2017-07-06 17:06] treyhakanson opened #98 "Error with mergePolygons option"
If the `mergePolygons` option is set to false, editing a particular edge of a polygon multiple times will cause the `'markers'` event to be fired one additional time for each time the edge was moved.

*Example:*
if a square is drawn, and the upper right point is dragged 3 separate times, `'markers'` will fire:

- 1 times after the first drag
- 2 times after the seconds drag
- 3 times after the thi

[2017-07-09 15:19] rsquizz commented on #84
I'm having a similar issue!

[2017-07-10 07:45] Wildhoney commented on #94
You've identified an issue with the `bind`, which I can fix.

However, for the time being the `mousedown` needs to be bound to the layer. I'll add this as an improvement, because I agree we can tell when the `mousedown` needs to be bound based on the current mode.

Thanks both! 👍

[2017-07-10 07:45] #92 closed

[2017-07-10 07:46] Wildhoney commented on #95
I'm not entirely sure it's going to work in IE8, I'm afraid. For ES6 you should be transpiling to ES5 with something like Babel.

[2017-07-10 07:46] #95 closed

[2017-07-10 08:06] Wildhoney commented on #96
There is [Leaflet Measure](https://github.com/ljagis/leaflet-measure) which could help?

[2017-07-10 08:06] #96 closed

[2017-07-10 16:05] sbraaa commented on #84
The same for me, anyone found a solution?

[2017-07-13 17:21] jfolds commented on #82
Hello,
I'm running into the same error: `Uncaught ReferenceError: regeneratorRuntime is not defined`
I'm using webpack and importing like so:

[code]

Any help/suggestions would be very appreciated, thanks!

[2017-07-13 22:20] idawave commented on #94
Works for me.

Cheers.

[2017-07-14 00:45] njbarrett commented on #82
@jfolds what's your .babelrc look like ?
Try adding `"transform-runtime"` to the plugins array

[2017-07-14 15:02] jfolds commented on #82
@njbarrett Thanks for the suggestion! I added that to my webpack.config in the babel-loader plugins, but still hitting that same error.

I needed a quick fix, so I am currently just requiring the JS rather than importing. Works for me... for now.
`require('leaflet-freedraw/dist/leaflet-freedraw.web.js');`

Thanks again for the help, though.

[2017-07-20 14:14] BaiShaojie123123 commented on #3
Hello friends, recently do a similar function, but I want to use other maps, I am a beginner, hoping to get guidance. Mainly want to know the painting and get the painting after the corner of the problem, hope to get your Thanks for the help

[2017-07-24 07:03] Wildhoney commented on #3
@BaiShaojie123123 I'm not sure what you're asking. Please clarify?

[2017-08-09 07:48] zhuyinjing opened #99 "_leafletFreedrawWeb2.default.default is not a constructor"
when i use it `import FreeDraw from "leaflet-freedraw/dist/leaflet-freedraw.web.js";` in my project,it shows error:
` _leafletFreedrawWeb2.default.default is not a constructor`
how should i do?
and when i use `import FreeDraw from "leaflet-freedraw/dist/leaflet-freedraw.cjs.js`,it shows error:
` _leafletFreedrawCjs2.default.default is not a constructor`
and  `Uncaught ReferenceError: regeneratorRu

[2017-08-09 07:51] Wildhoney commented on #99
import FreeDraw from 'leaflet-freedraw' should work just fine.

For `regenerator-runtime` see: https://github.com/Wildhoney/Leaflet.FreeDraw/issues/88 👍

Hope this helps.

[2017-08-09 08:54] zhuyinjing commented on #99
oh..when i use `module.exports = {
  entry: {
    main: './src/main.js',
    entry: ['babel-polyfill', '../config/index.js']
  },`
it also shows error `regeneratorRuntime is not defined`

[2017-08-09 09:15] #99 closed

[2017-08-11 02:03] zhuyinjing opened #100 "FreeDraw is not defined"
hey when i used import `https://cdnjs.cloudflare.com/ajax/libs/leaflet.freedraw/2.0.1/leaflet-freedraw.web.js`
it shows error: `FreeDraw is not defined`
 how should i do?

[2017-08-11 06:09] #100 closed

[2017-08-14 09:06] zhuyinjing opened #101 "about coordinates"
hi
when i used `freeDraw.on('markers', event => {
        console.log(event.latLngs);
    });`
it shows based on the coordinates of the canvas，and i want to be based on the coordinates of the picture.
how should i do ?  thanks!

[2017-08-17 05:34] zhuyinjing opened #102 "i want delete polygon"
hey,
i want delete polygon when i click during the polygon.
and it shows error:
`Cannot set property 'x' of undefined`
what's wrong?
Thank you.

[2017-08-17 05:34] #101 closed

[2017-08-17 07:19] Wildhoney commented on #102
Which version of Leaflet are you using FreeDraw with?

[2017-08-17 08:55] zhuyinjing commented on #102
newest.
im using it .
https://rawgit.com/oeway/Leaflet.FreeDraw/master/dist/leaflet-freedraw.web.js

[2017-08-17 08:57] zhuyinjing commented on #102
i delete `bable-polyfill`

[2017-08-22 05:28] #102 closed

[2017-08-29 12:34] zhuyinjing opened #103 "Dynamically change the color of the stroke."
hey .
i want change the stroke color dynamically.
when i click the blue button ,i can draw blue stroke.
and when i click the pink button,i can draw pink stroke.
And i want do it in the same time.
how i can do?
thanks a lot !
BTW,Leaflet.FreeDraw is so helpful!

[2017-09-06 11:14] zhuyinjing opened #104 "pixel coordinate not latlng"
hi
i use leaflet to show deepzoom picture,not the map.
Like it [https://github.com/turban/Leaflet.Zoomify](url)
when i used `freeDraw.on('markers', event => { console.log(event.latLngs);` });
i want pixel coordinate based on picture,not latlng.
how should i can do?
thanks so much!

[2017-09-07 14:39] ventralnet commented on #84
+1

[2017-09-15 08:18] zhuyinjing commented on #89
does it done?? @Wildhoney

[2017-09-20 09:48] #104 closed

[2017-09-20 09:48] #103 closed

[2017-09-20 09:50] zhuyinjing opened #105 "delete polygon when dbclick the polygon"
hey,when i use mouse to dbclick the polygon ,and i want to delete this polygon,but it shows error:
`leaflet-src.js:2713 Uncaught TypeError: Cannot read property '_leaflet_pos' of undefined
    at Ct (leaflet-src.js:2713)
    at n._getMapPanePos (leaflet-src.js:4308)
    at n.containerPointToLayerPoint (leaflet-src.js:3891)
    at n._fireDOMEvent (leaflet-src.js:4267)
    at n._handleDOMEvent (leaf

[2017-09-26 09:38] zhuyinjing commented on #94
@idawave  does freedraw can stop edit??
how to stop or pause edit???
thanks so much!

[2017-09-26 10:07] zhuyinjing commented on #70
you can get path elements.and setAttribute stroke : #D7217E

[2017-11-15 20:14] ventralnet opened #106 "Drawing a shape zoomed in then zooming out and drawing a shape removes original shape"
https://jsfiddle.net/4qw5djw4/

1. Zoom in on an area as far as you can.  Draw a small shape.
2. Zoom as far out as you can and draw a shape
3. Notice the original shape you drew when zoomed in disappears

I assume this is a bug in the polygon merging/simplification

[2017-11-16 08:19] Wildhoney commented on #106
Yep, that's a tough one, because I presume what's happening is that the first polygon is being removed, because at the zoomed out level it's considered to be too small, and thus removing in or drastically simplifying it.

You can see a slightly more subtle version of the same problem by zooming out only slightly.

[2017-11-16 13:53] ventralnet commented on #106
Is there a way to disable simplification altogether, but to keep the polygon merging functionality?

[2017-12-01 14:30] ventralnet opened #107 "SVG element added in the wrong spot"
It looks like the freedraw svg element is added as a direct child of the parent map element.  I think the appropriate spot should be under the leaflet overlay pane (css: leaflet-overlay-pane).  Leaflet seems to suggest this is the right spot looking at the CSS

https://github.com/Leaflet/Leaflet/blob/abb14f0b8c5bdfe7506e9840e08560103cdc9d42/dist/leaflet.css#L99

In my specific case I am dealing wi

[2017-12-01 15:17] ventralnet commented on #107
Upon further investigation I think the SVG element I am looking at is the tracer.  This is probably a non issue

[2017-12-01 15:17] #107 closed

[2017-12-07 10:20] roberts-g commented on #91
Hi, I'm currently having this problem, but can't seem to fix. I've tried downloading the most up to date js file, but I'm still getting the `Uncaught TypeError: Cannot read property 'size' of undefined`.

Would someone mind showing me how to fix this/letting me know which file to download which fixes this?

[2017-12-07 10:22] Wildhoney commented on #106
Nothing like that at the moment @ventralnet &mdash; only the `mergePolygons` option which is all or nothing.

[2017-12-07 10:25] Wildhoney commented on #91
On which line is the error being thrown?

[2017-12-07 10:28] roberts-g commented on #91
[code]

So I imagine line 2501

[2017-12-07 11:12] Wildhoney commented on #91
Can you replicate the problem in [the example](https://freedraw.herokuapp.com/). If so, how? If not, what are you doing differently?

[2017-12-07 11:21] roberts-g commented on #91
Enter the following into the console on the example page:
[code]

This returns the error message:
[code]

My understanding is that this should draw a polygon with elbows at the given four coordinates.

[2017-12-07 11:48] Wildhoney commented on #91
You can't instantiate `FreeDraw` directly because in that case it's not tied to the map layer.

In the example try:

[code]

[2017-12-07 18:27] roberts-g opened #108 "Setting draw bounds"
Is it possible to set the bounds in which you can draw, instead of using the default world bounds?
Example:
Only allowing drawing to be done in London, and any attempts to draw outside are cut off.

[2017-12-07 18:28] roberts-g commented on #91
Thank you! This fixed my problem.

[2017-12-08 11:49] Wildhoney commented on #108
Nope, nothing like that, but you could just set the max bounds in Leaflet, I suppose.

[2017-12-08 11:49] #108 closed

[2017-12-08 11:51] Wildhoney commented on #105
I'm not sure why that's occurring &ndash; although delete is with a single click.

Can you replicate the issue in [the example](https://freedraw.herokuapp.com/)?

[2017-12-08 11:57] roberts-g commented on #108
I've tried setting the max bounds in leaflet, although that still lets you draw outside the wanted area.
The other approach I tried was to check if any of the vertices are outside of the bounds in the markers event, and if so, just remove the polygon that has been drawn, but I wasn't able to remove the vertices using:
[code]
Is this because the polygon hasn't been added to the layer yet?

[2017-12-08 12:11] Wildhoney commented on #108
There's no reason why you shouldn't be able to remove the polygons in the markers event:

[code]

[2017-12-08 20:45] roberts-g commented on #108
I realised the reason it wasn't working was that I was trying to pass in coordinates to remove instead of an actual polygon. If anyone happens to want to do this in the future, this is how I have done it:
[code]

[2017-12-08 20:52] Wildhoney commented on #108
Thanks for updating @roberts-g 👍

[2017-12-11 15:05] r2my opened #109 "Touch support for last chrome version on mobile"
Hi,
Thanks for this great plugin!!
I have an issue with Chrome on mobile. I can't draw on the last Chrome version. It works for old versions.
You can reproduce the issue by enabling the dev mode on Chrome and show a device.
Then go to the demo: https://jsfiddle.net/t6e48rm5/

I tested on Chrome 62. There is no error message so I don't see where to start...

Thanks for your help!

Best regards,
Rém

[2017-12-12 10:17] developernm opened #110 "Support for angular 2 (Angular cli) - You may need an appropriate loader to handle this file type."
I've installed the package into my angular cli project, however I want install Leaflet-freedraw into my own package, but the problem is that it will not build the solution.

## Error:

Module parse failed: C:\TFS\Information Systems\ECW\ECW-Dev\event-map\node_modules\source-map-loader\index.js!C:\TFS\Information Systems\ECW\ECW-Dev\event-map\src\app\solo-map\node_modules\leaflet-freedraw\src\FreeD

[2017-12-15 02:29] zhuyinjing commented on #105
hey
when i delete with a single click.
it shows nothing with my polygons.
it doesn't work!
`const tileURL = this.deepzoomServer + img + '/{z}/{x}_{y}.jpeg?random=' + Math.random()
      L.tileLayer(tileURL).addTo(this.map)
      var freeDraw = new FreeDraw({
        mode: FreeDraw.ALL,
        mergePolygons: false
      })

      this.freeDraw = freeDraw
      this.map.addLayer(this.freeDraw)`
wha

[2017-12-16 15:27] Wildhoney commented on #105
Looks generally okay. Does your full code look something similar [to this](https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/example/js/default.js#L105)?

[2017-12-18 09:56] zhuyinjing commented on #105
okay..
when i when i delete with a single click,
it doesn't work with my polygons ~
And it shows nothing in chrome console...
I use it in my code
`mode: FreeDraw.ALL`
what's wrong ?
By the way, i use leaflet to show deepzoom picture,not map.
Thanks so much

[2017-12-19 01:30] zhuyinjing commented on #105
I wrote the code in it .
Can you help me to see what's wrong with my code ???
https://jsfiddle.net/ea62vtva/2/

[2017-12-20 13:15] nawerprod commented on #105
It seems that using leaflet 1.0.2 solve this issue https://jsfiddle.net/ea62vtva/4/

[2017-12-21 07:53] zhuyinjing commented on #105
@nawerprod
I really thanks you so much!
yes, it resolve.
And how to handle events when i delete the polygon?

[2017-12-21 08:07] Wildhoney commented on #105
Handle events?

[2017-12-21 08:14] zhuyinjing commented on #105
Emmm....I want to know the lat lng that i delete.
how to know ?

[2017-12-21 08:18] Wildhoney commented on #105
You could read it from the polygon **before** invoking `freeDraw.remove`, since you have to know which polygon is being deleted.

Alternatively you could bind to the `freeDraw.on('markers', ...)` event and find the one in that array that's missing (meaning the one that's deleted) and take its lat/lng values from there.

[2017-12-21 08:35] zhuyinjing commented on #105
Emmmm..
I use this code to get latest polygon .

[code]

And  if I  bind to the freeDraw.on('markers', ...) event and find the one in that array that's missing (meaning the one that's deleted) ,  i think it's so complicated ....
Does this plugin not provide delete events ?

[2017-12-21 09:04] Wildhoney commented on #105
That's true &mdash; I've added an update that includes the `eventType` in the `event` object, so you can do something like:

[code]

Where `eventType` can be `create | edit | remove | clear`.

[2017-12-21 09:42] zhuyinjing commented on #105
`console.log(event.eventType)`
it's ` undefined`
what's wrong?
I use the version is [https://rawgit.com/oeway/Leaflet.FreeDraw/master/dist/leaflet-freedraw.web.js](url)

[2017-12-21 09:45] Wildhoney commented on #105
It looks to be caching it on their CDN.

[2017-12-21 09:46] zhuyinjing commented on #105
ok, i see you have a commit just now.
I have a try.
thank you !

[2017-12-21 10:24] zhuyinjing commented on #105
okay... I already use version 2.4.0.
[https://jsfiddle.net/ea62vtva/5/](url)
And i found when i create polygon , it also console.log the case 'create' and  the case 'delete' at the same time.
when i remove polygon , it return all event['latLngs'] not the polygon that i delete it.
Do you hava any easy method to return the polygon that i delete??
I think you are excellent !

[2017-12-21 10:55] Wildhoney commented on #105
You've forgotten the `break`s in your `switch` statement so it just falls through to all cases.

It's not a perfection science because of the merging of polygons, but you the following is a starting basis for tracking the polygons:

[code]

[2017-12-21 11:01] zhuyinjing commented on #105
@Wildhoney
Thank you for taking the afternoon to help me solve the problem.
You are a good author.
I hope there's a chance to do something for you.

[2017-12-21 11:02] Wildhoney commented on #105
You're welcome! 👍

[2017-12-21 11:04] #105 closed

[2017-12-27 16:44] dgautsch commented on #3
Is mobile still unsupported? I can't seem to get it to work.

[2018-01-03 13:00] roberts-g commented on #84
I have also been having this issue, so I decided to do a bit of digging.

It appears that that the function `latLngsToClipperPoints`, or specifically, `latLngToLayerPoint`, is the root of the problem.

The LatLngs that are passed in are:
`
"LatLng(84.99073, -179.53296),LatLng(84.99073, -179.53272),LatLng(84.99074, -179.53248),LatLng(84.99075, -179.53237),LatLng(84.99076, -179.53228),LatLng(84.9908

[2018-01-04 02:38] ryazhang opened #111 "Fetch latlngs behind polygons."
I use leaflet to make some markers on the map.
Then draw polygons among the map, like the following pic.
![image](https://user-images.githubusercontent.com/33251407/34548139-39ada2c4-f13b-11e7-9405-ba5e9c26a31b.png)

How can I fetch latlngs of leaflet's markers?
Could you please have a look? Thanks in advance.

[2018-01-08 15:35] DispatchCode commented on #109
Hi,
Found the same problem and only with Chrome browser. The drawing function work fine, but not with mouse move.

Thanks for your help!

[2018-01-15 12:05] sbraaa opened #112 "problems on IE / Edge"
Hi, I found a problem running on IE / Edge:

`/***/ }),
/* 11 */
/***/ (function(module, exports) {

module.exports = function(it){
  if(typeof it != 'function')throw TypeError(it + ' is not a function!');
  return it;
};
`

console report an error saying throw is used without a catch.

Anyone saw this kind of problem using FreeDraw on Ie or Edge?

[2018-01-17 07:13] aphyl opened #113 "delete polygon with new leaflet version"
Hi,

the polygon delete function no works with Leaflet 1.3.0 only with Leaflet 1.0.2

thanks,
Best regards

[2018-01-19 18:13] Wildhoney commented on #91
You're welcome! 👍

[2018-01-19 18:13] Wildhoney commented on #111
@ryazhang you should subscribe to the `markers` event:

[code]

[2018-01-19 18:35] #113 closed

[2018-01-19 18:35] Wildhoney commented on #113
Thanks for this @aphyl 👍 Bug fix pushed and released as `v2.5.1`.

[2018-02-14 15:43] #106 closed

[2018-02-14 15:46] Wildhoney commented on #106
Published as `v2.6.0` @ventralnet.

Although the Leaflet intersection is somewhat rudimentary because it only works on rectangles &ndash; lat/lng bounds, so there are edge cases. However for the most part this fixes the issue you outlined 👍

I will make an improvement to the intersect detector by using something like [Terraformer](http://terraformer.io/core/).

[2018-02-14 20:04] Wildhoney commented on #106
`v.2.7.0` has improved intersection logic 👍 Thanks for the issue @ventralnet

[2018-02-14 20:38] Wildhoney commented on #112
Not seen this one. Could you please debug further?

[2018-02-14 20:38] #111 closed

[2018-02-14 20:39] Wildhoney commented on #89
Not yet @zhuyinjing

[2018-03-08 19:56] ventralnet opened #116 "classname mode-none is not added to map container when mode is set to NONE"
Go here https://jsfiddle.net/7w0a6xjf/, browse to the map container element in dev tools.  Notice mode-edit, mode-create etc etc are classes on the map container.  Draw a shape.  There is a markers listener to set the mode to NONE after the shape is drawn.   Reading the documentation it suggests the mode-none class should be added to the map container.

[2018-03-13 10:10] frulo opened #117 "FreeDraw 2.8.0 with Leaflet 0.7.7"
Hi,
Does Leaflet.free works with Leaflet 0.7.7?

freeDraw expect that polygon.getLatLngs() returns an array of array and take the first element. In my Application I only get an array of latLngs.

Thanks

Orlando

[2018-03-13 10:18] Wildhoney commented on #117
I've not tested the current version with `v0.7.7`. However give [`v1.2.2`](https://github.com/Wildhoney/Leaflet.FreeDraw/tree/v1.2.2) a try as that was written back when `v0.7.7` was the latest version.

[2018-03-13 10:21] frulo commented on #117
Thanks

[2018-03-13 10:21] #117 closed

[2018-03-21 10:53] Necr0 opened #118 "Target Feature Group (+ Additional Events)"
I would like to be able to have FreeDraw put the polygon layers on a specific layer/feature group because as of now it is hard-coded to add them to the map directly.
https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/src/helpers/Polygon.js#L73-L75
[code]
It would be way nicer to handle that way.

Also a simple events like `freeDraw.on("drawcommit", e => console.log(e.layer))` would be nice.

[2018-04-04 08:51] zhuyinjing opened #119 "draw polygon when second time"
hi,
i use it in my code:
[code]
when i click brush-pencil , it calls `drawpolygon`  function
and when i click brush-pencil the twice time,
the polygon background color is deeper than the first time..
what's wrong with my code?
thanks a lot!!!
![2018-04-04 16-47-38](https://user-images.githubusercontent.com/25977997/38297890-5b63ad30-3828-11e8-9c79-b1b57322cfcb.png)
![Uploading 2018-04-04 16-48-17屏

[2018-04-04 08:51] zhuyinjing opened #120 "draw polygon when second time"
hi,
i use it in my code:
[code]
when i click brush-pencil , it calls `drawpolygon`  function
and when i click brush-pencil the twice time,
the polygon background color is deeper than the first time..
what's wrong with my code?
thanks a lot!!!
![2018-04-04 16-47-38](https://user-images.githubusercontent.com/25977997/38297890-5b63ad30-3828-11e8-9c79-b1b57322cfcb.png)
![2018-04-04 16-48-17](https://u

[2018-04-04 09:03] Wildhoney commented on #120
I think it's because you keep adding layers to your map with `this.map.addLayer(this.freeDraw)`. You need to add the layer **only** once, or remove the existing layer before adding a new one.

What is it you're trying to achieve by constantly adding layers?

[2018-04-04 09:06] zhuyinjing commented on #120
emm..
such like the photos,
i want to click red brush-pencil to circle dogs
and click green brush-pencil to circle cats..
so  i  use add layers many times..

[2018-04-04 09:13] #119 closed

[2018-04-04 09:29] zhuyinjing commented on #120
i want to change different color with line , so i use it
[code]
Is there a better solution?
When I click on the different colors of the brush, the polygon is painted in a different color.
![2018-04-04 17-28-55](https://user-images.githubusercontent.com/25977997/38299783-aa61c1d8-382d-11e8-84e0-257d0607696f.png)

[2018-04-04 09:36] #116 closed

[2018-04-04 09:37] Wildhoney commented on #116
Thanks @ventralnet  👍All fixed, pushed and released as `v2.8.1`.

[2018-04-04 10:08] Wildhoney commented on #120
It's not an easy one to solve, as it's going against the design of `FreeDraw`. We've had a few issues relating to [multiple instances, and different colours](https://github.com/Wildhoney/Leaflet.FreeDraw/issues?utf8=%E2%9C%93&q=is%3Aissue+colors).

[2018-04-04 10:25] zhuyinjing commented on #120
emm…
If by changing the background color of the layers of transparent?

[2018-04-04 10:28] Wildhoney commented on #120
With two or more FreeDraw layers you're going to run into issues, because of overlapping polygons, and click events, etc... not being passed through.

With the two or more colours with the same instance we run into issues &ndash; because two polygons of red and blue can become one polygon at any point if they overlap. If you prevent polygon merging then you can target the polygons differently in C

[2018-04-04 17:43] Wildhoney commented on #120
Probably you want a different library @zhuyinjing &ndash; it doesn't really look as though you're using FreeDraw for map related functionality. There must be better alternatives out there for circling animals. Once you've circled an animal what happens?

[2018-04-08 02:28] zhuyinjing commented on #120
In order to make multiple clicks on the brush, the color of the fill does not deepen, I temporarily used to change the style of css.
`path {
  fill-opacity: 0 !important;
}`
This does not seem to be the best solution, but at the moment it can at least solve this problem.

[2018-04-08 05:07] #120 closed

[2018-04-19 15:38] jakodev commented on #109
We are experiencing the same issue... digging into the code we had discover that the "problem" is caused by **leaflet** (main library) in the **src\core\Browser.js** file due to a wrong handling of _pointermove/down/etc.._ events in Chrome browser when used in a mobile device.
In other words: if a browser support _pointer_ events (and Chrome do) the _ontouchstart_ event will be disabled...

[2018-04-24 05:58] zhuyinjing opened #121 "R is not defined"
hi,
when i import leaflet.freedraw.
it shows error in Chrome console..
it shows error :
![2018-04-24 13-58-21](https://user-images.githubusercontent.com/25977997/39168720-8f6ac9ac-47c7-11e8-9c62-ce83f2ef4c1d.png)
my code is it https://jsfiddle.net/ea62vtva/18/
what's wrong?
thanks !

[2018-04-24 07:16] Wildhoney commented on #121
Yesterday I made Ramda [an external resource](https://github.com/Wildhoney/Leaflet.FreeDraw/commit/2dad6274753b4ef4dcdac857cf396b1679343bbb) to reduce the filesize, and to allow Ramda to use a common version if you're already using it in your project.

You need to [include Ramda](https://cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.js) in your project manually now: https://jsfiddle.net/ea62vt

[2018-04-26 02:27] banisirohi opened #122 "Error: only one instance of babel-polyfill is allowed"
I'm using leaflet-draw library. And I'm facing this issue in my project:
Error: only one instance of babel-polyfill is allowed

I fixed it reading this thread- babel/babel#4019 (comment)

I added the line below, But it's not working which means ie11 is not working.

In webpack.config.js-

entry : ['whatwg-fetch', './src/index.tsx'],

In indewsx.tsx-

if (!global._babelPolyfill && !window._babelPol

[2018-04-30 02:30] #122 closed

[2018-06-22 08:25] Zahma opened #123 "leaflet-FreeDraw for angular 4"
Hello I'm using the following module in angular 4:

https://github.com/Wildhoney/Leaflet.FreeDraw

in the following way:

import { FreeDraw } from 'leaflet-freedraw';

The project is compiling, which means that there is no problem of typings.

However, I'm getting the following error in the console:

Uncaught ReferenceError: regeneratorRuntime is not defined

I tried another solution, which is to

[2018-06-22 08:40] Wildhoney commented on #123
For the `regeneratorRuntime` issue you will need to bundle [`https://babeljs.io/docs/en/babel-polyfill.html`](`babel-polyfill`) with your build 👍

[2018-06-22 12:00] Zahma commented on #123
@Wildhoney  thank you for the answer, you mean that I should include babel-polyfill in my packages ?

[2018-06-22 12:04] Wildhoney commented on #123
Yep, and then if you're using Webpack you can do something like:

[code]

[2018-07-05 09:46] pawil006 opened #124 "JSfiddle is not working with FreeDraw"
Hi,

I just tried to use Your plugin in Salesforce, so I used leaflet-freedraw.web.js as resource. But console throws me an error "FreeDraw()' is not defined.

So I checked JS fiddle to find how shall i use this, but then i found that fiddle also has the same error.
Do i have to create webpack with leaflet and freedraw by myself?
Why JSfiddle does not work now?

Thank You.

[2018-07-05 09:52] Wildhoney commented on #124
`FreeDraw` works [in this JSFiddle](https://jsfiddle.net/t6e48rm5/372/). The one in the README is missing `Ramda` which I'll update now 👍

[2018-07-05 10:30] pawil006 commented on #124
Thank You,

I attached ramda to my resources, error has changed, but now I have following error.

`aura_proddebug.js:36709 Uncaught TypeError: Cannot assign to read only property 'parseInt' of object '[object Object]'
throws at https://deploypkrobiotic--deploy.lightning.force.com/resource/freedrawsrc:291:12 TypeError: Cannot assign to read only property 'parseInt' of object '[object Object]'
    a

[2018-07-05 10:33] Wildhoney commented on #124
How does your initialisation code look? Is it something similar to the [Getting Started](https://github.com/Wildhoney/Leaflet.FreeDraw#getting-started) snippet?

[2018-07-05 10:54] pawil006 commented on #124
Here is my initialisation code:

`({
   jsLoaded: function(component, event, helper) {
       var map = L.map('map', {zoomControl: true, tap: false})
                  .setView([52.21807, 24.01568], 17);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            attr

[2018-07-05 11:30] Wildhoney commented on #124
No problem 👍 Please open another ticket if you have any other issues.

[2018-07-05 11:30] #124 closed

[2018-07-18 04:58] agrimgupta92 commented on #89
Any updates on when you plan to add this feature? @Wildhoney

[2018-07-18 16:27] Loykos opened #125 "Reduce bundle size"
Hi,

I like very much this library! I'm building the library with webpack and the result file weight ~600 kb. Is there a way to reduce the bundle size?

Thanks for your suggestions

[2018-07-18 16:33] agrimgupta92 commented on #52
It seems like this functionality is not longer present. Can you please guide as to how to achieve the same in the current version?

[2018-07-18 19:15] Wildhoney commented on #89
Sorry, not sure yet. It's on my list of things to do.

[2018-07-18 19:30] Wildhoney commented on #125
We've already [externalised `clipper-lib`, `leaflet` and `ramda`](https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/webpack.cjs.js#L8-L10)

Majority of the bundle is taken up by [`jsts`](https://github.com/bjornharrtell/jsts) (~430kb) which is a dependency of [`turf-intersect`](https://github.com/Turfjs/turf-intersect/blob/master/package.json#L33) which we use for determining polygon inter

[2018-07-18 19:32] Wildhoney commented on #52
No way in the *new* version. Will add it to the roadmap 👍

[2018-07-18 21:15] Loykos commented on #125
Thanks @Wildhoney for answering me. I currently have gzip compression. I'll load the module async with dynamic import and I'll keep following the project.

Thank you!

[2018-07-19 09:31] Loykos commented on #109
What about bind freeDraw methods also on Pointer Events API?

[2018-08-06 12:03] Zahma commented on #123
@Wildhoney  thank you for your help, in fact I did it as you said, the library is apparently well imported. Still, I get a weired error:
`ERROR TypeError: leaflet_freedraw_1.FreeDraw is not a constructor
`
Knowing that Accessing FreeDraw throgh window['FreeDraw'] is displaying the object.

[2018-09-10 17:04] kaffeeumeins commented on #82
I have the same problem and could solve it by importing also the babel-polyfill lib.

[2018-09-13 19:14] glau-isidoro commented on #123
@Zahma I'm getting the same error.

[2018-09-24 19:45] aryansh04 opened #126 "TypeError: Cannot assign to read only property 'parseInt' of object '[object Object]'"
While using in Salesforce Lightning Framework which ES5 compliant I get the following error.

![image](https://user-images.githubusercontent.com/2933461/45974961-e17ee680-c010-11e8-93dd-1d8f5110a76a.png)

[2018-10-10 07:30] r2my commented on #84
+1 Similar issue.
I tried to disabled the simplification but it doesn't work...
Thanks for your help!

[2018-11-08 14:00] sbraaa commented on #112
I guess there is nothing to debug, IE11 javascript engine require "catch" statement when using "throw".
Is IE (the latest versione, 11) still supported by this plug-in?

[2018-11-12 17:43] lordmilutin opened #127 "FreeDraw.cancel() not working"
When I call `cancel()` method on free draw nothing happens.

This is object on which I call it:

![image](https://user-images.githubusercontent.com/7761299/48365225-a01ec500-e6aa-11e8-8a20-b5661a94a0c4.png)

And code is simple as `this.freeDraw.cancel()`

 "leaflet-freedraw": {
            "version": "2.9.0"
}

[2019-02-07 14:39] ineeve commented on #3
It does not seem to work on mobile yet ...

[2019-02-21 09:39] lukszi commented on #3
As a workaround I tried to use [https://stackoverflow.com/questions/1517924/javascript-mapping-touch-events-to-mouse-events](this), but this solution has some problems
- using deprecated methods
- touchMove triggering mouseMove and scrolling
- blocking out my leaflet-controls

limiting the above solution to only the viewport didn't do any good to unlock the buttons either.

[2019-03-20 06:44] adammoszczynski opened #128 "After drawing more sophisticated shape, there's an exception in console:"
I tried it on your demo on jsfiddle.

Exception is as follows:
leaflet-freedraw.web.js:23052 Uncaught RangeError: Maximum call stack size exceeded
    at Generator.invoke [as _invoke] (leaflet-freedraw.web.js:22774)
    at Generator.prototype.(fiddle.jshell.net/_display/anonymous function) [as return] (https://rawgit.com/Wildhoney/Leaflet.FreeDraw/master/dist/leaflet-freedraw.web.js:22596:21)

[2019-03-20 08:14] Wildhoney commented on #128
How do I replicate it? Browser and version? What is a *complex* shape?

[2019-03-20 08:22] adammoszczynski commented on #128
Chrome version:72.0.3626.121

Screenshot just before releasing mouse button:

![shape](https://user-images.githubusercontent.com/48747902/54669333-63982580-4af1-11e9-892f-2f5638203416.jpg)

I think it is important to zoom out to the zoom as on screenshot.

[2019-03-20 09:32] Wildhoney commented on #128
I tracked it down to the recursive nature of the generators, which aren't tail call optimised.

I merged [the pending PR](https://github.com/Wildhoney/Leaflet.FreeDraw/pull/115) which eliminates the need for the generators, which has improved it significantly, so I've just published a new release.

However it does get more sluggish at around 10,000 iterations of the `mouseMove` function, so I may

[2019-03-21 04:14] hoanglethuanthien opened #129 "How to destroy previous polygon in latest version freedraw?"
This options seem to be remove in latest version. Can you suggest about this function?

[2019-03-21 08:32] Wildhoney commented on #129
Sorry, please remind me how it was done in the version you're using?

IIRC there's no *good* way of removing the latest because of the polygon merging. However you could take the latest polygon [from the `all` method](https://github.com/Wildhoney/Leaflet.FreeDraw#bundled-methods) and then use the `remove` function to delete it.

[2019-03-21 10:11] hoanglethuanthien commented on #129
Thank you so much, I solved my problem. In my task, I don't want multiple polygon, draw one polygon and search in it, then if draw another (destroy first polygon).

[2019-03-21 10:18] Wildhoney commented on #129
Oh, okay. Yep, in that case you need to [set the options](https://github.com/Wildhoney/Leaflet.FreeDraw#passing-options) &ndash; specifically `maximumPolygons : 1` 👍

[2019-03-21 10:36] hoanglethuanthien commented on #129
If set ```maximumPolygons  :  1```, I can not continue draw. My goal like  this (https://foursquare.com/explore?mode=url&polygon=21.040126706656%2C105.82741498947144%3B21.039565947575543%2C105.82799434661864%3B21.03900518638399%2C105.82823038101196%3B21.038264177285843%2C105.82825183868408%3B21.03752316450155%2C105.82769393920897%3B21.03704250558948%2C105.82694292068481%3B21.03684223058507%2C105.8

[2019-03-21 10:39] Wildhoney commented on #129
Ah I see. All good now?

[2019-03-21 10:42] hoanglethuanthien commented on #129
I thinks it fine until testers work :heart_eyes:

[2019-03-21 10:54] Wildhoney commented on #129
Haha. Familiar story!

[2019-03-21 10:54] #129 closed

[2019-04-03 14:18] nkarampi opened #130 "The plugin catches mouse/touch events at the same time"
Firstly thanks for your work.
When I am adding the FreeDraw layer on the map it creates some weird behaviors.

- An example of these behaviors is that the events fire many times.

- Another example is this:

![image](https://user-images.githubusercontent.com/9385168/55485888-01ccd500-5634-11e9-8721-174534358f10.png)

It seems that it is added two times on each addLayer and onRemove the events will

[2019-04-24 11:33] hno2 opened #131 "Demo is down"
The Demo under https://freedraw.herokuapp.com/ seems to be down. I only get an Application error.

[2019-04-25 06:31] DaHuLuBa opened #132 "webpack go wrong"
![image](https://user-images.githubusercontent.com/32380005/56714235-c91da880-6766-11e9-825e-802b4868e5c5.png)

I started reporting errors when I started the project

[2019-04-27 10:52] will4906 commented on #132
I have the same problem!!!

[2019-05-09 08:50] lmdc45 commented on #131
Same for me

[2019-05-11 12:59] Wildhoney commented on #131
Sorry folks &mdash; my mistake! [I've brought it back](https://freedraw.herokuapp.com/) now. Thanks.

[2019-05-11 12:59] #131 closed

[2019-05-11 13:01] Wildhoney commented on #132
You need to be using the web version, not the CJS version. I've [just added](https://github.com/Wildhoney/Leaflet.FreeDraw/commit/f5c8f8c3bf97b449effb1bd33b51a08f4291f517) the `browser` key to the `package.json` file, so hopefully that should pick up the right one for you.

[2019-05-11 13:01] #128 closed

[2019-05-11 22:40] lmdc45 commented on #131
Thanks

[2019-05-14 19:51] ankeetmaini commented on #132
The latest code isn't published to npm. Also the web version will attach itself as a global object. Can't use it in ES6 imports. Please see #133

[2019-05-20 08:09] #132 closed

[2019-06-21 07:56] AndreasOlausson opened #135 "Typings?"
Does a real typings-file exists? (index.d.ts)

[2019-06-21 07:57] Wildhoney commented on #135
Nup. Please feel free to add one.

[2019-06-21 16:23] myulz opened #136 "Demo not working"
The jsfiddle in the readme is not working, I think because this file is no longer available:
https://rawgit.com/Wildhoney/Leaflet.FreeDraw/master/dist/leaflet-freedraw.web.js

[2019-06-21 16:32] Wildhoney commented on #136
Thanks! Good spot. All working now: https://jsfiddle.net/0dzhs5Lg/3/

[2019-06-21 16:32] #136 closed

[2019-06-21 16:33] Wildhoney commented on #136
Probably should re-remove the `dist/` files from the repo, and use CodeSandbox for the demo though. For another day.

[2019-06-21 16:33] Wildhoney opened #137 "Remove JSFiddle, dist files from repo, and use CodeSandbox for demo"

[2019-06-21 16:34] #135 closed

[2019-06-24 07:26] AndreasOlausson commented on #135
Thanx, I'll try to make something!

[2019-06-24 07:27] Wildhoney commented on #135
Thanks for this @AndreasOlausson &mdash; it'll be very useful!

[2019-06-24 08:19] AndreasOlausson commented on #84
We have the same problem but this is a Leaflet Issue (https://github.com/Leaflet/Leaflet/issues/6177)

What you can do to make the result a bit better: (Psuedo code)
const currentZoomLevel = map.getZoom();
map.setZoom(MAX_ZOOM_LEVEL);
use freedraw to write the polygon(s)...
map.setZoom(currentZoomLevel);

And yes, @roberts-g is right "latLngToLayerPoint" is the problem.
You can also try something

[2019-07-07 13:09] felluksch opened #138 "FreeDraw/Pather integration (+removeLayer/dynamic mode setting)"
Hi again @Wildhoney ,

I'm also trying to [use Pather in conjunction with FreeDraw](https://github.com/Wildhoney/L.Pather/issues/7). I want to allow users to switch modes (polygon/line) by clicking on a button.
[code]
The first click on the button adds Pather to the map, the second removes Pather and adds Freedraw. When I click the button again, however, the previously drawn FreeDraw polygons rema

[2019-07-21 18:51] felluksch commented on #138
Hi @Wildhoney, I could solve the problem or at leat I figured out what needs to be done for this.
Firstly, FreeDraw and Pather (both added to the map) don't interfere with each other when FreeDraw's mode is set to `NONE` and Pather's mode ist set to default. Switching between Pather and FreeDraw could easily be achieved by just resetting the modes and without removing/adding layers. However, freeD

[2019-08-06 03:37] hoanglethuanthien opened #139 "How to catch event on markers just one time"
I have task to search some address in one or more than polygon created. So I put function _Search_ in
[code]
But the library  re-draws all the polygons make called server twice, how I fix it?

[2019-09-16 13:47] cnmoro opened #141 "Zone.js ZoneAwarePromise Error"
Hello, after integrating freedraw with my project, it shows this error on page load and nothing works:

Error: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.
Most likely cause is that a Promise polyfill has been loaded after Zone.js (Polyfilling Promise api is not necessary when zone.js is loaded. If you must load one, do so before loading zone.js.)

All

[2019-09-16 22:46] jdalton opened #142 "corejs addition of Object.prototype.__defineGetter__ breaks some environments."
Hi!

I'm running in an environment with `Object.prototype` properties frozen `Object.freeze` and corejs is trying to write to them. Is there a way to be more selective with which patches are being applied via babel/env?

[2019-09-20 11:58] stereobooster opened #146 "Uncaught TypeError: Can't call method on undefined"
[code]

As far as I can tell it comes from this line:

https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/src/helpers/Layer.js#L13

[code]

It seems that `polygons.get(map)` resolved to undefined and `Array.from` throws error.

For comparison this is what native function gives (Chrome):

[code]

[2019-09-20 13:54] AndreasOlausson commented on #141
We have had the same problem with angular (7).
We ended up with a fork where we added the same core-js polyfills that angular does to avoid the zone.js conflict.

FreeDraw.js:

change:
import 'core-js';

to:
import 'core-js/es6/symbol';
import 'core-js/es6/object';
import 'core-js/es6/function';
import 'core-js/es6/parse-int';
import 'core-js/es6/parse-float';
import 'core-js/es6/number';
import '

[2019-09-20 14:31] cnmoro commented on #141
thank you for the comment ! I'll try your solution and post the results later

[2019-09-30 08:00] gaotter opened #155 "Freedraw not working on iOS 13"
Hi

After updating to iOS 13 on IPhone and IPad, Freedraw stop working. Does anyone know how to get around the issue? Or how to fix it?

[2019-10-10 16:35] nickolas1 opened #157 "Leaflet is bundled in the dist files"
Leaflet is listed as an external dependency in the rollup config, but it appears to still be bundled in the dist files.

[2019-10-10 19:13] nickolas1 commented on #157
This may be because leaflet is included as both a dev and peer dependency- if I remove it as a dev dependency and build it excludes it properly.

[2019-10-15 08:51] yansf opened #158 "How to change the color"
Hi,

I like very much this library! and I need to change the fill color of the polygon, May I ask how to modify it now??

[2019-10-15 09:08] yansf commented on #158
i use  the leaflet-freedraw.iife.js    library, everything is fine except that there is no Attach Elbows button, why?

[2019-10-17 19:07] AndreasOlausson commented on #158
Override the css?
.leaflet-polygon {
    fill: #ff0000;
    fill-opacity: 0.5;
    stroke: #50622b;
}

[2019-11-04 13:20] alessiogaronzi commented on #50
At 2019 FreeDraw not work on Chrome in mobile. There are news?

[2019-11-04 13:55] alessiogaronzi commented on #3
@lukszi Hi your workaround work for mobile in Chrome?

[2019-11-11 10:28] petoor commented on #28
I am facing the same issue, is this possible as of 2019?

[2019-11-24 11:15] yellerkaleb commented on #3
Does anyone have a solution or alternative to this issue?

[2019-11-24 11:23] yellerkaleb commented on #3
this works, (you will may have to manually type in the link):

https://stackoverflow.com/questions/1517924/javascript-mapping-touch-events-to-mouse-events

[2019-12-09 18:06] pranavranadive opened #161 "Free Draw stopped Working on Ipad With IOS 13"
Hi All,

We have been using this nice feature of drawing free shapes of FreeDraw library.
But after updating the Ipads with IOS version 13. the freedraw has stopped working.
Can we have any quick fix or any workaround to solve this issue?

Thanks,
Pranav Ranadive

[2019-12-09 18:15] Wildhoney commented on #161
Have you done any digging into what the issue might be?

[2019-12-09 18:21] anurag0486 commented on #161
@wildhoney,

We are using this feature inside Salesforce app container.
Unfortunately we are not seeing any logs being generated. If you can help us debug the issue and get to the root cause will also be very helpful.

Thanks
Anurag Sharma

[2019-12-18 13:15] pranavranadive commented on #161
@Wildhoney,

We have started debugging at java script in salesforce, and its been observed that Lat ,long co-ordinates are not returned from the library when user tries to draw any shape. Can you help us further where it is breaking in library or how to fix it?

Thanks,
Pranav Ranadive

[2019-12-18 21:22] anurag0486 commented on #155
@gaotter ,

Did you find a solution for the issue ?

[2019-12-19 09:05] Wildhoney commented on #161
I've found: https://github.com/Leaflet/Leaflet/issues/6817

People are suggesting to update Leaflet library and add `tap: true` when initialising the map.

[2020-03-04 07:51] dhanesh1795 opened #162 "We have had the same problem with angular (7/8)."
We have had the same problem with angular (7/8).
We ended up with a fork where we added the same core-js polyfills that angular does to avoid the zone.js conflict.

FreeDraw.js:

delete:
import 'core-js';

add:
import 'core-js/es6/symbol';
import 'core-js/es6/object';
import 'core-js/es6/function';
import 'core-js/es6/parse-int';
import 'core-js/es6/parse-float';
import 'core-js/es6/number';
impor

[2020-03-04 07:53] dhanesh1795 commented on #162
i have added above code but still the issue remains.
please guide according i am trying to do this in angular 9

[2020-03-09 17:21] FluorescentHallucinogen commented on #3
Looking forward for touch support.

Just found https://github.com/bozdoz/leaflet-freehandshapes (https://bozdoz.github.io/leaflet-freehandshapes/), works on Android like a charm!

[2020-03-12 12:28] skydiablo commented on #28
https://gis.stackexchange.com/questions/329817/cutting-holes-in-custom-polygon-made-with-leaflet-draw

One possibility of doing this would be with the help of turf.js library.

When adding newly drawn polygon, algorithm for detecting and creating possible holes goes like this:

1. Convert newly created layer/polygon to GeoJSON and then to turf geometry.
2. Iterate through all existing layers/polyg

[2020-03-13 15:19] AndreasOlausson commented on #162
That made it for us, but try to import freedraw after you import the polyfills.

[2020-03-23 12:30] stell commented on #91
This is not really an issue but maybe of interest for people having the same trouble.
I have a map which uses the cluster extension. When drawing the map is set the center and bounds of the map based on the cluster getBounds() and not by configuring the center.

I have this example: https://codepen.io/honk007/pen/oNXPGLb

When removing the center and centering afterwards based on cluster bounds or

[2020-03-27 19:59] stell opened #163 "ES6 Import trouble"
When installing via node or yarn i only get the dist folder.  I need to integrate this as an ES6 import and let it transpile via buble.

ATM this is not possible and the dist code makes trouble in IE 11 because i can't transpile it. I get an error around the `toStringTag`  Symbol.

This is a great library, but let us use it in ES6 imports.

[2020-03-31 08:40] Wildhoney commented on #163
We don't have a `.npmignore` file so you should be getting the `src` directory as well. I've tested this myself and get almost all the files that the repo has.

`import react-shadow/src` not work for you, if you're after the uncompiled file?

[2020-04-01 09:40] stell commented on #163
Thanks for answering. Don't know what's going wrong.  Using npm or yarn makes no difference.
`yarn add leaflet-freedraw` only creates the dist folder. `src `folder is missing.

[2020-04-14 09:43] silvervesi commented on #109
Where would you do this? Sorry, I'm not familiar with any of this right now, I'm merely investigating whether I could use FreeDraw in my app.

[2020-04-29 13:03] ealoticopve opened #164 "Draw Layer Problem"
Hello my friend,

I am very interested in your plugin and have already managed to integrate it into my application, however, it is not working well with other plugins.

Note that when I use the tool to draw more than 1 time, the rest of my code stops working. When I say this, what I mean is that it creates a kind of layer, and leaves all other objects instantiated on the map without interaction, I

[2020-04-29 13:23] Wildhoney commented on #164
Could you please use https://jsfiddle.net/0dzhs5Lg/3/ to create a quick example?

[2020-04-29 17:30] ealoticopve commented on #164
Hello! Here is the example (part of my code)
https://jsfiddle.net/1nrfbkd6/2/

[2020-04-30 16:29] ealoticopve commented on #164
Please, let me know if you see the example. Thank you!

[2020-05-02 15:12] Wildhoney commented on #164
Thanks, yep. I see the issue in the JSFiddle, but when I added your code to the example from this repo, it seems to work fine. I can always click on the marker. I can't seem to find the difference between the two which is frustrating.

[2020-05-02 15:15] ealoticopve commented on #164
What can it be then? I've tried everything, including uninstalling and installing the npm plugin

[2020-05-02 17:10] ealoticopve commented on #164
My friend, I came to the conclusion that the problem is not free draw. Sorry for this inconvenience. I'm using the [SemiCircles plugin](https://github.com/jieter/Leaflet-semicircle) and it doesn't work with yours and probably others. I tested both separately and that's what I deduced. Your work is fantastic, and thanks for the replies.

[2020-05-02 19:15] Wildhoney commented on #164
Ah! That's probably why I found it difficult to reproduce locally. Glad you've found it &ndash; please let me know if I can help further once you identify the actual issue with that plugin.

[2020-05-02 23:59] ealoticopve commented on #164
Thank you for your disposition !! I'll keep the topic open. If you find a solution I will leave it here. Thank you!

[2020-05-04 03:00] ealoticopve commented on #164
Hello again, sorry to bother you! But I was wondering if there is any way to know if the user drew it.
To solve the problem, I'm deleting the circles and instantiating again. But I would only like to do it when the user finishes the drawing.

https://jsfiddle.net/d3w2mqp4/1/

[2020-05-04 08:40] Wildhoney commented on #164
Yep, you can use:

[code]

[2020-05-04 13:18] ealoticopve commented on #164
Good Morning! Thank you very much, I completely forgot about this event! **Everything is working as intended** , 1000 thanks! I'll close the post.

[2020-05-04 13:23] #164 closed

[2020-05-13 00:30] 2032917 opened #165 "LayerGroup and Colors - Free Draw instance"
Hi all, this plugin is all i need for my app and its working well so far, but... i was wondering if i can do 2 important things (**independent**).

1. Add a `map.addLayer(freeDraw)` to a LayerGroup.
2. Create multiples draws with diferent selected colors.

- For the first point, i just want to enable/disable the layers with the Leaflet control - i couldnt make it, for some reason, i cant save the

[2020-06-25 07:29] FedericoAndreoli commented on #141
Hi guys,
i'm having the same issue but i'm not understanding how to make it work...
I've installed the package with npm and i don't have the source code, so i dinìt know where to modify the imports...

Can you please help me?

[2020-06-25 11:17] nkarampi commented on #130
Closing the issue due to inactivity. A solution is provided as a workaround in the description.

[2020-06-25 11:17] #130 closed

[2020-06-25 18:52] stell commented on #163
Could you please check your package.json? Looks like this is preventing to get the /src Folder:
{
  "files": [
    "dist"
  ],
}

[2020-06-25 22:57] Wildhoney commented on #163
Sorry, I totally forgot about this issue @stell. Resolved with `leaflet-freedraw@2.13.2`.

[2020-06-26 20:18] stell commented on #163
Thank you. Problem solved.

[2020-06-26 22:42] #163 closed

[2020-06-30 15:59] chriswilley commented on #162
In my case, updating zone.js to 0.10.3 solved this issue.

https://github.com/angular/angular/issues/31724#issuecomment-600634210

[2020-06-30 16:25] chriswilley commented on #141
In my case, updating zone.js to 0.10.3 solved this issue.

https://github.com/angular/angular/issues/31724#issuecomment-600634210

[2020-07-22 07:45] iBros opened #167 "JSfiddle example not working properly"
your own example that helps getting started does not work properly:
https://jsfiddle.net/0dzhs5Lg/3/
what's the issue?

[2020-07-23 13:51] btafel commented on #146
Hi, was this issue ever fixed? Thanks

[2020-07-24 16:16] Wildhoney commented on #146
I wasn't able to reproduce it on my end.

We could change it to `polygons.get(map) ?? []` to avoid the error, but I'd like to know under which circumstances `polygons.get(map)` can become `undefined`?

[2020-07-27 01:20] btafel commented on #146
I actually fixed it that way in my local environment. It would happen when I navigate out of the screen where I have the Map component.

[2020-07-27 03:24] Wildhoney commented on #146
And the `?? []` doesn't cause any adverse effects? I can make that change.

[2020-07-27 03:28] Wildhoney commented on #146
Made the fix in `v2.13.3` &ndash; I had to use `|| []` as the Babel transpiler is quite old in this package, but in this case it should have the same affect 👍  Thanks guys.

[2020-07-27 03:28] #146 closed

[2020-07-28 12:25] btafel commented on #146
sorry to bother again @Wildhoney ! I found one more like this one.... (looks like this is the last one :))

This is the error I get:

`TypeError: Cannot read property 'call' of undefined
    at t.fire (leaflet-freedraw.web.js:8214)
    at A_ (leaflet-freedraw.web.js:15299)
    at t.value (leaflet-freedraw.web.js:40530)
    at t.value (Freedraw.js:112)
    at t.n.componentDidUpdate (MapLayer.js:55)

[2020-08-07 15:04] Isaamarod opened #169 "[SOLVED] ModuleNotFoundError: No module named 'demos'"
If you try to execute : python usage-elements-extra.py  it launchs an error like:

[code]

You can solve if delete in line 10:  from demos

[2020-08-07 15:12] Wildhoney commented on #169
Wrong repo?

[2020-08-07 15:26] Isaamarod commented on #169
dash_reusable_components belongs to demo..

[2020-08-07 16:06] Wildhoney commented on #169
Freedraw is a JavaScript module, there’s no Python?

[2020-09-09 06:18] Isaamarod commented on #169
Yes, I apologize. This issue belongs to other repo. Is it possible to delete it? Thanks.

[2020-09-09 08:12] #169 closed

[2020-09-09 08:58] kragoth opened #170 "mouseDown event never unregistered causes javascript errors"
In FreeDraw.js line 302 we have:
map.on('mousedown touchstart', mouseDown);

This event handler is never cleaned up and there is no way for a user of this library to clean it up without removing all mousedown events.
The onRemove(map) function should be removing the mousedown event handler so that if the layer is removed from the map it does not result in errors.

This is important when designing

[2020-10-13 23:51] Bobsans opened #171 "FreeDraw not working on Android"
Leaflet version: 1.7.1

When drawing is enabled, the map does not respond to any touch events.

[2021-05-02 06:22] hhoeflin opened #178 "Herokuapp down"
The herokuapp seems to be down.
Thanks

[2021-06-20 14:20] virtuoso98 commented on #158
So for this issue, I think that the suspect line is over here in line 73 to line 75 of `helpers/polygon.js`: https://github.com/Wildhoney/Leaflet.FreeDraw/blob/master/src/helpers/Polygon.js#L73

Based on this, it seems as if the options are passed directly to the polygon. Therefore, if you modify the options like `options.color = "red"`, then your polygon colour should be able to change.

[2021-08-18 08:04] kragoth opened #182 "Update to work with leaflet >= 1.7"
I'm not sure if this repo is being maintained at the moment.
So, I've created a fork https://github.com/kragoth/Leaflet.FreeDraw

My fork contains some changes to make the freedraw tool work better with touch devices and leaflet 1.7.
I have only tested my changes on desktop chrome and android chrome so, it is highly likely that they do not work in other browsers.

However, if the author wants to l

[2021-08-20 04:32] trowa1234 opened #183 "Why is there no edit point?"
leaflet: 1.7.1
leaflet-freedraw: 2.13.2
[code]
my screenshot:
![image](https://user-images.githubusercontent.com/30816662/130178877-60608458-33f0-4469-b56d-d02950ddb1b1.png)

Example screenshot:
![image](https://user-images.githubusercontent.com/30816662/130179449-9ac033f7-fe7b-414d-8685-100bb7b8705a.png)

[2021-09-08 14:16] gmarshall56 opened #184 "TypeError: Cannot read properties of undefined (reading 'x')"
I am using this Leaflet.FreeDraw library in a React application.  This is what I have coded:
`
import leaflet-freedraw/dist/leaflet-freedraw.iife;
...
    const freeDraw = new FreeDraw();

    const toggleFreeDraw = () => {
        if(freeDrawEnabled){
            geomanIsDrawing.current= false;
            freeDraw.mode(FreeDraw.NONE);
        }else{
            geomanIsDrawing.current= true;

[2021-09-09 19:40] #184 closed

[2021-09-09 19:40] gmarshall56 commented on #184
Never mind.. I think I figured this one out...

[2021-12-14 09:53] MaciejGL commented on #184
Could You describe what was the problem and how did you solve it? Thanks

[2022-08-16 20:06] stell opened #188 "Filled polygons missing"
I know, sadly this repo is not maintained anymore. But can someone say why filled polygons are missing when using it even with later versions nowadays: https://jsfiddle.net/0dzhs5Lg/3/
Here polygons are still visible: https://freedraw.herokuapp.com/